.error {
  background-color: lightcoral;
  height: 30px;
  width: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  margin: auto;
  font-family: "Nunito", sans-serif; }
