* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.cta__noradius--yb {
  cursor: pointer;
  background-color: #feca28;
  border: none;
  display: flex;
  padding: 8px 18px;
  height: fit-content;
  width: fit-content;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  color: #1b1c1f;
  text-transform: uppercase; }
