footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #0b0a0a;
  padding: 5%; }

.footer__text {
  display: flex;
  flex-direction: column;
  color: #a9bac1; }
