footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0b0a0a;
  padding: 4%; }

.footer__text {
  display: flex;
  flex-direction: column;
  color: #a9bac1;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  line-height: 250%;
  font-size: 1.2vw; }
  .footer__text div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .footer__text div img {
      width: auto;
      height: 80%; }
