* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.cta__noradius--yb {
  cursor: pointer;
  background-color: #feca28;
  border: none;
  display: flex;
  padding: 8px 18px;
  height: fit-content;
  width: fit-content;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  color: #1b1c1f;
  text-transform: uppercase; }

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 87%;
  line-height: 33px; }

.register {
  display: flex;
  height: 517px;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px #feca28;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 410px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3;
  padding-top: 38px;
  padding-bottom: 38px; }
  .register__title {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 34px; }
  .register__input {
    width: 100%;
    height: 35px; }
  .register__input-container {
    font-family: "Nunito";
    font-size: 1.13vw;
    line-height: 22px; }
  .register .cta__register {
    margin-top: 40px; }

.login {
  display: flex;
  height: 389px;
  border: solid 2px #feca28;
  border-radius: 8px;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  width: 410px;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3; }
  .login__title {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600; }
  .login__input {
    width: 358px;
    height: 35px; }
  .login__input-container {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 22px; }
