@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

@keyframes fade-out-none {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.cta__noradius--yb {
  cursor: pointer;
  border: none;
  display: flex;
  padding: 0.8vw 2vw;
  height: fit-content;
  width: fit-content;
  background-color: #feca28;
  color: #1b1c1f;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  text-transform: uppercase;
  transition: all 0.3s; }
  .cta__noradius--yb:hover {
    border-radius: 4px;
    filter: drop-shadow(0px 0px 5px #feca28); }

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 87%;
  line-height: 33px; }

.register {
  display: flex;
  height: 42vw;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px #feca28;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 30vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3;
  padding-top: 3vw;
  padding-bottom: 3vw; }
  .register__title {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 1vw; }
  .register__input {
    width: 100%;
    height: 35px; }
  .register__input-container {
    font-family: "Nunito";
    font-size: 1.13vw;
    line-height: 22px; }
  .register .cta__register {
    margin-top: 2vw; }

.login {
  display: flex;
  height: 35vw;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px #feca28;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 30vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3;
  padding-top: 3vw;
  padding-bottom: 3vw; }
  .login__title {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 3vw; }
  .login__input {
    width: 100%;
    height: 35px; }
  .login__input-container {
    font-family: "Nunito";
    font-size: 1.13vw;
    line-height: 22px; }
  .login .cta__register {
    margin-top: 3vw; }
  .login .forgot-password {
    color: #a9bac1; }
