@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

@keyframes opacityBack {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacityBack-fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out-none {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

.genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0vw 4vw;
  color: #c8d3d7; }
  .genre__movie {
    flex-direction: column;
    width: 43vw;
    margin-bottom: 5vw; }

.genre__box {
  display: flex; }

.box__picture {
  width: 30%; }
  .box__picture img {
    width: 100%; }

.box__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2vw;
  width: 50%; }

.genre__title {
  font-family: "Nunito-Bold";
  font-size: 1.56vw;
  margin-bottom: 2vw; }

.description__item {
  font-family: "Nunito";
  font-size: 1.13vw;
  line-height: 150%; }
  .description__item span {
    color: #feca28; }

.button__item {
  transition: all 0.2s; }

.button__item:hover {
  filter: drop-shadow(0px 0px 3px #feca28);
  cursor: pointer; }

.button__item:nth-child(n + 2) {
  margin-left: 1vw;
  width: 2vw;
  padding-bottom: 0.3vw; }

.list {
  margin-top: 10vw; }
