@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 35vw;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 35vw;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

@keyframes opacityBack {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacityBack-fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out-none {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

@keyframes arrow {
  from {
    transform: translateY(0vw); }
  to {
    transform: translateY(-1vw); } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4vw;
  background-color: #1b1c1f;
  height: 5vw; }
  header .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center; }
    header .container-image img {
      width: 18vw;
      transition: all 0.3s; }
      header .container-image img:hover {
        filter: drop-shadow(0px 0px 2px #feca28);
        cursor: pointer; }
  header .buttons__header {
    display: flex; }
  header .cta__margin {
    margin-right: 1vw; }
