header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0a0a;
  height: 6vw;
  font-family: "Nunito", sans-serif; }
  header .headerHome__logo {
    margin-left: 4vw;
    display: flex; }

.nav {
  display: flex; }
  .nav .nav__item {
    margin: 0 2vw;
    color: #c8d3d7;
    font-size: 0.99vw; }

.headerHome__search {
  display: flex;
  align-items: center;
  width: 20vw;
  height: 2vw;
  margin-left: 2vw;
  border-radius: 5px;
  background-color: #f0f1f3;
  color: #c8d3d7; }
  .headerHome__search img {
    margin: 0 1vw;
    size: 1vw; }

.headerHome__name {
  color: #c8d3d7;
  font-size: 0.99vw; }

.headerHome__profil img {
  width: 3vw;
  color: #c8d3d7; }

.headerHome__disconnect {
  margin-right: 4vw; }
