header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  background-color: black;
  height: 84px; }
  header .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center; }
  header .buttons__header {
    display: flex; }
  header .cta__margin {
    margin-right: 13px; }
