@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

@keyframes opacityBack {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacityBack-fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out-none {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

.headerHome {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1c1f;
  height: 5vw;
  font-family: "Nunito";
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .headerHome .headerHome__logo {
    margin-left: 4vw;
    display: flex; }
    .headerHome .headerHome__logo img {
      height: 30px; }

.nav {
  display: flex; }
  .nav .nav__item {
    cursor: pointer;
    margin: 0 2vw;
    color: #c8d3d7;
    font-size: 0.99vw;
    position: relative; }
    .nav .nav__item .item__arrow {
      width: 0.8vw; }
  .nav ul {
    display: none;
    position: absolute;
    top: 1.8vw;
    left: -2.5vw;
    width: 10vw;
    background-color: #1b1c1f;
    font-size: 0.99vw;
    text-align: center; }
    .nav ul li {
      line-height: 3; }
    .nav ul a {
      color: #c8d3d7; }

.nav__item--hover:hover {
  filter: drop-shadow(0px 0px 5px #c8d3d7); }

.nav .nav__item .appear {
  display: block; }
  .nav .nav__item .appear li:hover {
    background-color: #feca28;
    filter: drop-shadow(0px 0px 5px #feca28); }
    .nav .nav__item .appear li:hover a {
      color: #1b1c1f; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.search__loupe {
  margin-right: 1vw;
  color: #feca28; }

.search__input {
  background-color: #1b1c1f;
  border: 1px solid #feca28;
  text-align: left;
  font-family: "Nunito", sans-serif;
  width: 15vw;
  border-radius: 5px;
  padding: 0.2vw;
  font-size: 0.99vw;
  color: white; }
  .search__input:focus {
    outline: none;
    border: 1px solid #feca28;
    box-shadow: 0 0 10px #feca28; }

.headerHome__name {
  color: #c8d3d7;
  font-size: 0.99vw; }

.headerHome__profil img {
  width: 2.2vw;
  color: #c8d3d7; }

.headerHome__disconnect {
  width: 2.5vw; }
  .headerHome__disconnect img {
    transition: all 0.2s; }
    .headerHome__disconnect img:hover {
      filter: drop-shadow(0px 0px 3px #feca28);
      cursor: pointer; }

.headerHome__bell img {
  width: 1.4vw; }

.icon_user {
  border-radius: 50%; }
