header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  background-color: #1b1c1f;
  height: 65px; }
  header .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center; }
    header .container-image img {
      height: 30px; }
  header .buttons__header {
    display: flex; }
  header .cta__margin {
    margin-right: 13px; }
