.headerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1c1f;
  height: 6vw;
  font-family: "Nunito", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .headerHome .headerHome__logo {
    margin-left: 4vw;
    display: flex; }

.nav {
  display: flex; }
  .nav .nav__item {
    margin: 0 2vw;
    color: #c8d3d7;
    font-size: 0.99vw;
    position: relative; }
    .nav .nav__item .item__arrow {
      width: 0.8vw; }
  .nav ul {
    display: none;
    position: absolute;
    top: 2vw;
    left: -2.5vw;
    width: 10vw;
    background-color: #1b1c1f;
    font-size: 0.99vw;
    text-align: center; }
    .nav ul li {
      line-height: 3; }
    .nav ul a {
      color: #c8d3d7; }

.nav .nav__item .appear {
  display: block; }
  .nav .nav__item .appear li:hover {
    background-color: #feca28; }
    .nav .nav__item .appear li:hover a {
      color: #1b1c1f; }

.search {
  display: flex;
  position: relative; }
  .search__bell {
    padding: 0 1vw;
    fill: white; }

.search__input {
  text-align: left;
  font-family: "Nunito", sans-serif;
  width: 15vw;
  border-radius: 5px;
  padding: 0.3vw;
  font-size: 0.99vw; }

.headerHome__name {
  color: #c8d3d7;
  font-size: 0.99vw; }

.headerHome__profil img {
  width: 3vw;
  color: #c8d3d7; }

.headerHome__disconnect {
  margin-right: 4vw; }
