.category {
  display: flex;
  flex-direction: column; }

.category__texts {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw; }

.category__title {
  color: #f9fafa; }

.category__movies {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh; }

.movie {
  box-shadow: 0px 0px 20px #121317; }

.movie__elements {
  opacity: 0; }
  .movie__elements:hover {
    opacity: 1;
    display: flex;
    padding-top: 80%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%; }

.elements__text:hover {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.element__title {
  color: #f9fafa;
  font-family: "Nunito-Bold";
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0 0 5px #c8d3d7, 0 0 10px #c8d3d7, 0 0 10px #c8d3d7, 0 0 10px #c8d3d7; }

.element__category {
  color: #a9bac1;
  opacity: 0.5;
  font-family: "Nunito";
  font-size: 1.13vw; }

.elements__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between; }
  .elements__icon .element-icon {
    width: auto;
    height: 30%; }
  .elements__icon .element__icon--play {
    width: auto;
    height: 40%; }

.movie__chevron {
  position: absolute;
  top: 165px;
  left: 70px;
  text-align: center; }

/*.category__modal {
  margin-top: 5vh;
}*/
.category__modal--open {
  background-position: 0% 25%;
  background-size: cover;
  animation: opening 0.5s;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #121317;
  margin-bottom: 28px; }

.category__modal--open:after {
  content: "";
  position: absolute;
  height: 450px;
  width: 100%;
  opacity: 1;
  animation: opening 0.5s;
  margin-bottom: 28px;
  background: linear-gradient(to top, black 5%, rgba(0, 0, 0, 0.363)); }

.category__modal--close {
  display: none; }

@keyframes opening {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closing {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.category__modal--closing {
  animation: closing 0.3s;
  height: 0px;
  background-position: 0% 25%;
  background-size: cover; }

.modal__icons {
  display: flex;
  justify-content: space-between;
  margin: 6.5vh 5vw 0 5vw;
  z-index: 1; }
  .modal__icons--left {
    width: 5vw;
    display: flex;
    justify-content: space-between; }

.modal__icon {
  z-index: 1;
  width: 2vw;
  transition: all 0.3s; }
  .modal__icon:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #feca28);
    transform: scale(1.1); }
  .modal__icon--play {
    z-index: 1;
    width: 11vw;
    align-self: center;
    transition: all 0.3s; }
    .modal__icon--play:hover {
      cursor: pointer;
      filter: drop-shadow(0px 0px 10px #feca28); }

.modal__texts {
  z-index: 1;
  color: #f0f1f3;
  margin: 0 5vw 55px 5vw;
  height: auto;
  display: flex;
  flex-direction: column; }

.butt {
  z-index: 1; }

.modal__title {
  font-family: "Radikal-Bold";
  font-size: 4vw;
  text-transform: uppercase; }

.modal__date {
  font-family: "Nunito-SemiBold";
  font-size: 1.2vw;
  margin-top: 15px; }

.modal__synopsis {
  font-family: "Nunito";
  font-size: 1.13vw;
  width: 58vw;
  margin-top: 10px;
  line-height: 125%; }
