.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 6%; }

.category__texts {
  display: flex;
  justify-content: space-between; }

.category__title {
  color: #f9fafa; }

.category__movies {
  display: flex;
  justify-content: space-between; }

.movie--avengers {
  background: url(../../assets/mini/Avengers.jpg);
  height: 240px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.category__modal--open {
  background-color: yellow;
  animation: opening 0.5s;
  height: 100px; }

.category__modal--close {
  display: none; }

@keyframes opening {
  from {
    opacity: 0;
    height: 0px; }
  to {
    opacity: 1;
    height: 100px; } }

@keyframes closing {
  from {
    opacity: 1;
    height: 100px; }
  to {
    opacity: 0;
    height: 0px; } }

.category__modal--closing {
  background-color: yellow;
  animation: closing 0.3s;
  height: 0px; }
