.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 6%; }

.category__texts {
  display: flex;
  justify-content: space-between; }

.category__title {
  color: #f9fafa; }

.category__movies {
  display: flex;
  justify-content: space-between; }

.movie {
  background-color: gold;
  width: 140px;
  height: 140px; }
