.category {
  display: flex;
  flex-direction: column; }

.category__texts {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw; }

.category__title {
  color: #f9fafa; }

.category__movies {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh; }

.movie {
  box-shadow: 0px 0px 20px #121317; }

.movie__elements {
  display: flex; }

.elements__text {
  display: flex; }

.elements__icons {
  display: flex;
  text-align: center; }

.movie__chevron {
  text-align: center; }

/*.category__modal {
  margin-top: 5vh;
}*/
.category__modal--open {
  background-position: 0% 25%;
  background-size: cover;
  animation: opening 0.5s;
  height: 577px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #121317;
  margin-bottom: 28px; }

.category__modal--open:after {
  content: "";
  position: absolute;
  height: 577px;
  width: 100%;
  opacity: 1;
  animation: opening 0.5s;
  margin-bottom: 28px;
  background: linear-gradient(to top, black 5%, rgba(0, 0, 0, 0.363)); }

.category__modal--close {
  display: none; }

@keyframes opening {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 577px;
    margin-bottom: 28px; } }

@keyframes closing {
  from {
    opacity: 1;
    height: 577px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.category__modal--closing {
  background: url(../../assets/mini/ready-Player-One.jpg);
  animation: closing 0.3s;
  height: 0px;
  background-position: 0% 25%;
  background-size: cover; }

.modal__icons {
  display: flex;
  justify-content: space-between;
  margin: 6.5vh 5vw 0 5vw;
  z-index: 1; }
  .modal__icons--left {
    width: 5vw;
    display: flex;
    justify-content: space-between; }

.modal__icon {
  z-index: 1;
  width: 2vw; }
  .modal__icon--play {
    z-index: 1;
    width: 11vw;
    align-self: center; }

.modal__texts {
  z-index: 1;
  color: #f0f1f3;
  margin: 0 5vw 55px 5vw;
  height: auto;
  display: flex;
  flex-direction: column; }

.butt {
  z-index: 1; }

.modal__title {
  font-family: "Radikal-Bold";
  font-size: 6.5vw;
  text-transform: uppercase; }

.modal__date {
  font-family: "Nunito-SemiBold";
  font-size: 1.2vw;
  margin-top: 15px; }

.modal__synopsis {
  font-family: "Nunito";
  font-size: 1.13vw;
  width: 58vw;
  margin-top: 10px;
  line-height: 125%; }
