@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

@keyframes fade-out-none {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

.category {
  display: flex;
  flex-direction: column; }

.category__texts {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 1vw; }

.category__title {
  color: #f9fafa;
  font-size: 1.42vw;
  font-weight: "Nunito-Bold";
  font-family: "Nunito-Bold"; }

.category__more {
  color: #feca28;
  font-size: 0.99vw;
  font-weight: "Nunito-Bold";
  font-family: "Nunito-Bold"; }

.category__movies {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh; }

.movie {
  box-shadow: 0px 0px 20px #121317; }

.movie__elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
  opacity: 0;
  transition: all 0.2s linear;
  transition-delay: 0.1s; }
  .movie__elements:hover {
    opacity: 1;
    cursor: pointer; }

.movie__element {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1vw; }

.elements__text {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  height: 6vw; }

.element__title {
  color: #f9fafa;
  font-family: "Nunito-Bold";
  font-size: 1.42vw;
  line-height: 2vw;
  margin-bottom: 1vw;
  text-shadow: 0 0 3px #c8d3d7; }

.element__category {
  color: #a9bac1;
  opacity: 0.5;
  font-family: "Nunito";
  font-size: 1.13vw; }

.elements__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 6vw; }
  .elements__icon .element-icon {
    width: auto;
    height: 30%; }
  .elements__icon .element__icon--play {
    width: auto;
    height: 40%; }
  .elements__icon img:hover {
    filter: drop-shadow(0px 0px 5px #feca28);
    cursor: pointer; }

.movie__chevron {
  text-align: center; }
  .movie__chevron img:hover {
    filter: drop-shadow(0px 0px 5px #feca28);
    cursor: pointer; }

.category__modal--open {
  background-position: 0% 25%;
  background-size: cover;
  animation: openingModal 0.5s;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #121317;
  margin-bottom: 28px; }

.category__modal--open:after {
  content: "";
  position: absolute;
  height: 450px;
  width: 100%;
  opacity: 1;
  animation: openingModal 0.5s;
  margin-bottom: 28px;
  background: linear-gradient(to top, black 5%, rgba(0, 0, 0, 0.363)); }

.category__modal--close {
  display: none; }

.category__modal--closing {
  animation: closingModal 0.3s;
  height: 0px;
  background-position: 0% 25%;
  background-size: cover; }

.modal__icons {
  display: flex;
  justify-content: space-between;
  margin: 6.5vh 5vw 0 5vw;
  z-index: 1; }
  .modal__icons--left {
    width: 5vw;
    display: flex;
    justify-content: space-between; }

.modal__icon {
  z-index: 1;
  width: 2vw;
  transition: all 0.3s; }
  .modal__icon:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #feca28);
    cursor: pointer;
    transform: scale(1.1); }
  .modal__icon--play {
    z-index: 1;
    width: 11vw;
    align-self: center;
    transition: all 0.3s; }
    .modal__icon--play:hover {
      cursor: pointer;
      filter: drop-shadow(0px 0px 10px #feca28);
      cursor: pointer; }

.modal__texts {
  z-index: 1;
  color: #f0f1f3;
  margin: 0 5vw 55px 5vw;
  height: auto;
  display: flex;
  flex-direction: column; }

.butt {
  z-index: 1; }

.modal__title {
  font-family: "Radikal-Bold";
  font-size: 4vw;
  text-transform: uppercase; }

.modal__date {
  font-family: "Nunito-SemiBold";
  font-size: 1.2vw;
  margin-top: 15px; }

.modal__synopsis {
  font-family: "Nunito";
  font-size: 1.13vw;
  width: 58vw;
  margin-top: 10px;
  line-height: 125%; }
