.landingpage {
  margin-left: 80px;
  margin-right: 80px; }

.hero {
  color: #f0f1f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.479) 50%), linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.56) 8%), url(../../assets/img/background_hero.png.png); }
  .hero__title {
    font-family: "Radikal-Bold";
    font-size: 2vw;
    padding-bottom: 25px; }
  .hero__infos {
    font-family: "Nunito";
    font-size: 1.6vw; }
    .hero__infos em {
      font-weight: 600;
      font-size: 2vw;
      padding-left: 5px;
      padding-right: 5px; }
  .hero .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%; }

.hero__CTA {
  margin-top: 4em;
  display: flex;
  align-items: center;
  color: #1b1c1f;
  justify-content: center;
  background-color: #feca28;
  width: 15em;
  height: 38px;
  font-family: "Nunito-SemiBold";
  font-size: 16px; }

.hero__bottom {
  height: 30vh;
  background: linear-gradient(-180deg, #000000 0%, rgba(13, 12, 12, 0) 100%); }
  .hero__bottom .downIcon {
    display: flex;
    margin-left: 50%; }

.watch,
.movies,
.download {
  color: #f0f1f3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8vw; }
  .watch .movies__text,
  .watch .download__text,
  .watch .watch__text,
  .movies .movies__text,
  .movies .download__text,
  .movies .watch__text,
  .download .movies__text,
  .download .download__text,
  .download .watch__text {
    padding-bottom: 70px;
    width: 100%; }
  .watch__title,
  .movies__title,
  .download__title {
    font-family: "Nunito-SemiBold";
    font-size: 1.8vw; }
  .watch__body,
  .movies__body,
  .download__body {
    font-size: 1.2vw;
    font-family: "Nunito";
    line-height: 1.44vw;
    justify-content: start;
    max-width: 581px;
    padding-top: 1.43vw;
    width: 566px; }

.watch__mockup {
  width: 100%; }

.movies__mockup {
  width: 100%; }

.download__mockup {
  width: 60%; }

.download__gif {
  position: absolute;
  right: 1.58vw;
  top: 13.9vw;
  height: 7vh; }
