.hero {
  color: #f0f1f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(to bottom, #1b1c1f 0%, rgba(27, 28, 31, 0.479) 50%), linear-gradient(to top, #1b1c1f 0%, rgba(27, 28, 31, 0.56) 13%), url(../../assets/img/background_hero.png.png); }
  .hero__title {
    font-family: "Radikal-Bold";
    font-size: 3vw;
    padding-bottom: 51px; }
  .hero__infos {
    font-family: "Nunito";
    font-size: 2vw;
    text-align: center;
    line-height: 3vw; }
    .hero__infos em {
      font-weight: 600;
      font-size: 3vw;
      padding-left: 5px; }

.buttonLP {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px; }

.buttonDown {
  display: flex;
  justify-content: center;
  margin-bottom: 5vw; }

.hero__bottom {
  width: 100%;
  background-color: #1b1c1f; }
  .hero__bottom .downIcon {
    display: flex;
    margin-left: 50%; }

.watch {
  background: linear-gradient(to top, #1b1c1f 0%, #1b1c1f 99%);
  padding-top: 10vw; }

.watch,
.movies,
.download {
  color: #f0f1f3;
  display: flex;
  align-items: center;
  margin-bottom: 10vw; }
  .watch .movies__text,
  .watch .download__text,
  .watch .watch__text,
  .movies .movies__text,
  .movies .download__text,
  .movies .watch__text,
  .download .movies__text,
  .download .download__text,
  .download .watch__text {
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 70px;
    width: 90%; }
  .watch__title,
  .movies__title,
  .download__title {
    font-family: "Poppins";
    font-size: 1.95vw;
    line-height: 2.925vw;
    font-weight: 800;
    margin-left: 80px;
    margin-right: 80px;
    color: #f0f1f3; }
  .watch__body,
  .movies__body,
  .download__body {
    font-size: 1.75vw;
    font-family: "Nunito";
    line-height: 2.625vw;
    justify-content: start;
    padding-top: 1.43vw;
    margin-left: 80px;
    margin-right: 80px;
    color: #a9bac1; }

.watch__mockup {
  width: 100%;
  padding-right: 80px; }

.movies__mockup {
  width: 100%;
  padding-left: 80px; }

.download__mockup {
  width: 70%;
  margin-left: 50px; }
