.landingpage {
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Nunito"; }

.hero {
  color: #f0f1f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 21, 21, 0) 20%, black), url(../../assets/img/background_hero.png); }
  .hero__title {
    font-family: "Radikal-Bold";
    font-size: 2vw;
    padding-bottom: 25px; }
  .hero__infos {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 1.6vw; }
    .hero__infos em {
      font-weight: 600;
      font-size: 2vw;
      padding-left: 5px;
      padding-right: 5px; }
  .hero .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%; }

.hero__CTA {
  margin-top: 4em;
  display: flex;
  align-items: center;
  color: #1b1c1f;
  justify-content: center;
  background-color: #feca28;
  width: 15em;
  height: 38px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 900; }

.hero__bottom {
  height: 13vh;
  background: linear-gradient(to top, rgba(255, 21, 21, 0) 10%, black); }
  .hero__bottom .downIcon {
    display: flex;
    margin-left: 50%; }

.watch,
.movies {
  color: #f0f1f3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8vw; }
  .watch .movies__text,
  .movies .movies__text {
    background-color: red;
    padding-bottom: 100px; }
  .watch__title,
  .movies__title {
    font-size: 1.8vw;
    width: 566px; }
  .watch__body,
  .movies__body {
    font-size: 1.2vw;
    line-height: 1.44vw;
    justify-content: start;
    max-width: 581px;
    padding-top: 1.43vw;
    width: 566px; }

.watch__mockup {
  height: 58vh; }

.movies__mockup {
  height: 42vh; }
