@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 35vw;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 35vw;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

@keyframes opacityBack {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacityBack-fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out-none {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

@keyframes arrow {
  from {
    transform: translateY(0vw); }
  to {
    transform: translateY(-1vw); } }

.main__movie {
  margin-bottom: 3vw; }

.video__wrapper {
  background-image: linear-gradient(transparent, #1b1c1f);
  width: 100%;
  height: calc(100vh - 80px);
  height: 40vw;
  object-fit: cover;
  position: relative;
  z-index: 1; }

.category__main {
  position: relative;
  color: #f0f1f3;
  height: 40vw;
  overflow: hidden; }

.category__video {
  position: absolute;
  top: -6vw; }
  .category__video video {
    width: 100vw; }

.category__path {
  z-index: 2;
  position: absolute;
  top: 6vw;
  left: 4vw;
  font-family: "Nunito-SemiBold";
  font-size: 1.2vw;
  color: #c8d3d7;
  text-shadow: 0px 0px 13px #0b0b0b; }
  .category__path span {
    font-family: "Radikal-Bold";
    font-size: 1.56vw; }

.info {
  position: absolute;
  bottom: 0vw;
  left: 4vw;
  display: flex;
  flex-direction: column;
  width: 60vw;
  z-index: 2; }
  .info__title {
    font-family: "Radikal-Bold";
    font-size: 5vw; }
  .info__released {
    font-family: "Radikal-Bold";
    font-size: 1.42vw;
    margin-right: 2vw; }
    .info__released strong {
      color: #feca28;
      margin-right: 1vw; }
    .info__released span {
      margin-right: 1vw; }
    .info__released img {
      margin-right: 1vw; }
  .info__play {
    width: 4vw;
    transition: all 0.2s; }
    .info__play:hover {
      filter: drop-shadow(0px 0px 5px #feca28);
      cursor: pointer; }
  .info__list {
    width: 1.5vw;
    transition: all 0.2s; }
    .info__list:hover {
      filter: drop-shadow(0px 0px 5px #feca28);
      cursor: pointer; }

.item__hero {
  margin-bottom: 1vw; }
  .item__hero:nth-child(3) {
    line-height: 1.8vw;
    font-family: "Nunito";
    font-size: 1.13vw;
    margin-bottom: 2vw; }
  .item__hero:nth-child(4) {
    position: absolute;
    left: 0vw;
    bottom: 0vw; }
