.video {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .video .video__container {
    transition: all 0.5s;
    opacity: 1; }
  .video .player__video::-webkit-media-controls {
    display: none !important; }
  .video .pause,
  .video .play,
  .video .sound,
  .video .mute,
  .video .fullscreen,
  .video .minimize {
    position: absolute;
    top: 0; }
  .video .player__video {
    position: relative;
    width: 100vw;
    height: 100%; }
  .video .bar {
    display: block;
    width: 97.5vw;
    margin: auto;
    margin-left: 1.2vw;
    height: 20px;
    bottom: 10%;
    background-color: gray;
    position: fixed; }
    .video .bar .progressBar {
      position: absolute;
      transition: width 0.3s;
      bottom: 0;
      width: 0px;
      height: 100%;
      background-color: #feca28; }
  .video .container {
    z-index: 999;
    position: absolute;
    bottom: 0vw;
    display: flex;
    flex-direction: row;
    width: 95vw;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center; }
    .video .container svg {
      width: 2vw; }
    .video .container__title {
      color: #c8d3d7;
      font-family: "Radikal-Bold";
      font-size: 1.42vw;
      display: flex;
      align-items: center;
      letter-spacing: 2px; }
    .video .container-left {
      display: flex;
      width: 15vw;
      justify-content: space-between; }
      .video .container-left .container__play {
        width: 50px;
        height: 50px;
        position: relative; }
    .video .container-right {
      display: flex;
      width: 25vw;
      justify-content: space-evenly; }
