.video {
  width: 100vw; }

video {
  position: relative;
  width: 100vw;
  height: 100vh; }

.container {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 95vw;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between; }
  .container embed {
    width: 2.5vw; }
  .container__title {
    color: #c8d3d7;
    font-family: "Radikal-Bold";
    font-size: 1.42vw;
    display: flex;
    align-items: center;
    letter-spacing: 2px; }
  .container-left {
    display: flex;
    width: 15vw;
    justify-content: space-between; }
  .container-right {
    display: flex;
    width: 20vw;
    justify-content: space-between; }
    .container-right input {
      margin-left: 2vw;
      vertical-align: super; }
