.video {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.video__container {
  display: none; }

video::-webkit-media-controls {
  display: none !important; }

video {
  position: relative;
  width: 100vw;
  height: 100%; }

.bar {
  display: block;
  width: 97.5vw;
  margin: auto;
  height: 10px;
  bottom: 7.5vw;
  background-color: gray;
  position: relative; }
  .bar .progressBar {
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 10px;
    background-color: #feca28; }

.container {
  z-index: 999;
  position: absolute;
  bottom: 0vw;
  display: flex;
  flex-direction: row;
  width: 95vw;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center; }
  .container svg {
    width: 2vw; }
  .container__title {
    color: #c8d3d7;
    font-family: "Radikal-Bold";
    font-size: 1.42vw;
    display: flex;
    align-items: center;
    letter-spacing: 2px; }
  .container-left {
    display: flex;
    width: 15vw;
    justify-content: space-between; }
    .container-left .container__play {
      width: 50px;
      height: 50px; }
  .container-right {
    display: flex;
    width: 20vw;
    justify-content: space-between; }
    .container-right .mute_png {
      width: 3vw; }
