.show_up {
  width: 15vw;
  display: none;
  position: absolute;
  top: 2.5vw;
  line-height: 2vw;
  background-color: #1b1c1f; }
  .show_up a {
    text-align: center;
    display: block;
    padding: 5px;
    font-size: 0.99vw;
    font-family: "Nunito";
    color: #c8d3d7; }
    .show_up a:hover {
      background-color: #feca28;
      color: #1b1c1f; }
