.user__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vw 8vw; }
  .user__container .user__image {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .user__container .user__account {
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    margin: 3vw; }

.user__back {
  margin-left: 4vw;
  margin-top: 1vw;
  width: 4vw;
  font-family: "Nunito";
  font-size: 1.13vw;
  color: #f0f1f3; }

.user__picture {
  margin: 4vw 4vw; }
  .user__picture img {
    width: 12vw;
    border: 4px solid #feca28;
    border-radius: 90px; }

.button__user {
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  background-color: #1b1c1f;
  border: 2px solid #f0f1f3;
  color: #f0f1f3;
  height: auto;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  align-items: center;
  padding: 1vw; }

.user__info .user__title {
  font-family: "Radikal-Bold";
  font-size: 1.56vw;
  color: #f0f1f3;
  text-decoration: underline;
  width: 15vw;
  margin-bottom: 4vw; }

.inputForm {
  margin-bottom: 4vw;
  border: 2px solid red; }
  .inputForm label {
    font-family: "Nunito-Bold";
    font-size: 1.2vw;
    color: #f0f1f3; }

.input__info input {
  margin-left: 5vw;
  background-color: #1b1c1f;
  border-bottom: solid 1px #f0f1f3;
  width: 18vw; }

.button__account {
  background-color: #feca28;
  border: 2px solid #1b1c1f;
  color: #1b1c1f;
  margin-right: 0px;
  justify-content: flex-end; }

.user__delete {
  position: absolute;
  right: 0px;
  color: red;
  align-self: left;
  font-family: "Nunito";
  font-size: 1.13vw;
  text-decoration: underline; }
