@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

@keyframes opacityBack {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacityBack-fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out-none {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

.user__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vw 8vw; }
  .user__container .user__image {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .user__container .user__account {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 3vw; }

.user__back {
  margin-left: 4vw;
  margin-top: 1vw;
  width: 4vw;
  font-family: "Nunito";
  font-size: 1.13vw;
  color: #f0f1f3; }

.user__picture {
  margin-bottom: 6vw; }
  .user__picture img {
    width: 15vw;
    border: 4px solid #feca28;
    border-radius: 110px; }

.button__user {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.button__end {
  background-color: #1b1c1f;
  border: 2px solid #f0f1f3;
  color: #f0f1f3;
  height: auto;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  align-items: center;
  padding: 1vw; }

.user__info .user__title {
  font-family: "Radikal-Bold";
  font-size: 1.56vw;
  color: #f0f1f3;
  width: 29.35vw;
  margin-bottom: 4vw;
  border-bottom: 2px solid #f0f1f3; }

.inputForm {
  margin-bottom: 4vw; }
  .inputForm label {
    font-family: "Nunito-Bold";
    font-size: 1.2vw;
    color: #f0f1f3; }

.input__info input {
  margin-left: 5vw;
  background-color: #1b1c1f;
  border: none;
  border-bottom: 1px solid #f0f1f3;
  color: #f0f1f3;
  font-family: "Nunito";
  font-size: 1.13vw;
  width: 18vw; }

.input__info input[type="email"] {
  margin-left: 3.9vw; }

.input__info input[type="password"] {
  margin-left: 5.4vw; }

.button__user input {
  margin-left: 2%;
  padding-top: 1.9%;
  padding-bottom: 1.9%; }

.button__picture:nth-child(2) {
  margin-left: 2.5vw; }

.delete__button {
  position: absolute;
  right: 0px;
  margin-top: 1vw;
  color: #8b0404;
  align-self: left;
  font-family: "Nunito";
  font-size: 1.13vw;
  text-transform: uppercase;
  border: 1px solid #8b0404;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }
  .delete__button:hover {
    border-radius: 4px;
    filter: drop-shadow(0px 0px 5px #8b0404); }

.center__error {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw; }
