/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Radikal-Bold";
  src: url("../scss/fonts/Radikal-Bold.ttf") format("trueType"); }

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../scss/fonts/Nunito-SemiBold.ttf") format("trueType"); }

@font-face {
  font-family: "Nunito-Bold";
  src: url("../scss/fonts/Nunito-Bold.ttf") format("trueType"); }

@font-face {
  font-family: "Nunito";
  src: url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); }

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); }

header {
  display: flex;
  justify-content: space-between;
  background-color: #0b0a0a;
  height: 84px; }
  header .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center; }

.button {
  display: flex;
  align-items: center;
  margin-right: 4vw; }
  .button__connexion {
    background-color: #feca28;
    width: 120px;
    height: 38px;
    border: none;
    margin-right: 13px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #0b0a0a;
  height: 84px; }
  header .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center; }

.button {
  display: flex;
  align-items: center;
  margin-right: 4vw; }
  .button__connexion {
    background-color: #feca28;
    width: 120px;
    height: 38px;
    border: none;
    margin-right: 13px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600; }

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 39px 26px 26px 10px;
  line-height: 33px; }

.register {
  display: flex;
  height: 517px;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 2%;
  border: solid 2px #feca28;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 410px;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3; }
  .register__title {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600; }
  .register__input {
    width: 358px;
    height: 35px; }
  .register__input-container {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 22px; }
  .register .btn {
    width: 209px;
    color: black; }

.login {
  display: flex;
  height: 389px;
  border: solid 2px #feca28;
  border-radius: 8px;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  width: 410px;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3; }
  .login__title {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600; }
  .login__input {
    width: 358px;
    height: 35px; }
  .login__input-container {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 22px; }
  .login .btn {
    width: 209px;
    color: black; }

body {
  background-color: #1b1c1f; }

.back {
  width: 90vw;
  margin: 1% auto;
  font-family: "Nunito", sans-serif;
  font-size: 16px; }
  .back a {
    color: white; }

.error {
  background-color: lightcoral;
  height: 30px;
  width: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  margin: auto;
  font-family: "Nunito", sans-serif; }

.landingpage {
  margin-left: 80px;
  margin-right: 80px; }

.hero {
  color: #f0f1f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 21, 21, 0) 20%, black), linear-gradient(to top, rgba(255, 21, 21, 0) 40%, black), url(../../assets/img/background_hero.png.png); }
  .hero__title {
    font-family: "Radikal-Bold";
    font-size: 2vw;
    padding-bottom: 25px; }
  .hero__infos {
    font-family: "Nunito";
    font-size: 1.6vw; }
    .hero__infos em {
      font-weight: 600;
      font-size: 2vw;
      padding-left: 5px;
      padding-right: 5px; }
  .hero .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%; }

.hero__CTA {
  margin-top: 4em;
  display: flex;
  align-items: center;
  color: #1b1c1f;
  justify-content: center;
  background-color: #feca28;
  width: 15em;
  height: 38px;
  font-family: "Nunito-SemiBold";
  font-size: 16px; }

.hero__bottom {
  height: 13vh;
  background: linear-gradient(to top, rgba(255, 21, 21, 0) 10%, black); }
  .hero__bottom .downIcon {
    display: flex;
    margin-left: 50%; }

.watch,
.movies,
.download {
  color: #f0f1f3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8vw; }
  .watch .movies__text,
  .watch .download__text,
  .watch .watch__text,
  .movies .movies__text,
  .movies .download__text,
  .movies .watch__text,
  .download .movies__text,
  .download .download__text,
  .download .watch__text {
    padding-bottom: 70px;
    width: 100%; }
  .watch__title,
  .movies__title,
  .download__title {
    font-family: "Nunito-SemiBold";
    font-size: 1.8vw; }
  .watch__body,
  .movies__body,
  .download__body {
    font-size: 1.2vw;
    font-family: "Nunito";
    line-height: 1.44vw;
    justify-content: start;
    max-width: 581px;
    padding-top: 1.43vw;
    width: 566px; }

.watch__mockup {
  width: 100%; }

.movies__mockup {
  width: 100%; }

.download__mockup {
  width: 60%; }

.download__gif {
  position: absolute;
  right: 1.58vw;
  top: 13.9vw;
  height: 7vh; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0b0a0a;
  padding: 4%; }

.footer__text {
  display: flex;
  flex-direction: column;
  color: #a9bac1;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  line-height: 250%;
  font-size: 1.2vw; }
  .footer__text div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .footer__text div img {
      width: auto;
      height: 80%; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1c1f;
  height: 6vw;
  font-family: "Nunito", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  header .headerHome__logo {
    margin-left: 4vw;
    display: flex; }

.nav {
  display: flex; }
  .nav .nav__item {
    margin: 0 2vw;
    color: #c8d3d7;
    font-size: 0.99vw;
    position: relative; }
    .nav .nav__item .item__arrow {
      width: 0.8vw; }
  .nav ul {
    display: none;
    position: absolute;
    top: 2vw;
    left: -2.5vw;
    width: 10vw;
    background-color: #1b1c1f;
    font-size: 0.99vw;
    text-align: center; }
    .nav ul li {
      line-height: 3; }
    .nav ul a {
      color: #c8d3d7; }

.nav .nav__item .appear {
  display: block; }
  .nav .nav__item .appear li:hover {
    background-color: #feca28; }
    .nav .nav__item .appear li:hover a {
      color: #1b1c1f; }

.search {
  display: flex;
  position: relative; }
  .search__bell {
    padding: 0 1vw;
    fill: white; }

.search__input {
  text-align: left;
  font-family: "Nunito", sans-serif;
  width: 15vw;
  border-radius: 5px;
  padding: 0.3vw;
  font-size: 0.99vw; }

.headerHome__name {
  color: #c8d3d7;
  font-size: 0.99vw; }

.headerHome__profil img {
  width: 3vw;
  color: #c8d3d7; }

.headerHome__disconnect {
  margin-right: 4vw; }

.category {
  display: flex;
  flex-direction: column; }

.category__texts {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw; }

.category__title {
  color: #f9fafa; }

.category__movies {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh; }

.movie {
  box-shadow: 0px 0px 20px #121317; }

.movie__elements {
  display: flex; }

.elements__text {
  display: flex; }

.elements__icons {
  display: flex;
  text-align: center; }

.movie__chevron {
  text-align: center; }

/*.category__modal {
  margin-top: 5vh;
}*/
.category__modal--open {
  background-position: 0% 25%;
  background-size: cover;
  animation: opening 0.5s;
  height: 577px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #121317;
  margin-bottom: 28px; }

.category__modal--open:after {
  content: "";
  position: absolute;
  height: 577px;
  width: 100%;
  opacity: 1;
  animation: opening 0.5s;
  margin-bottom: 28px;
  background: linear-gradient(to top, black 5%, rgba(0, 0, 0, 0.363)); }

.category__modal--close {
  display: none; }

@keyframes opening {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 577px;
    margin-bottom: 28px; } }

@keyframes closing {
  from {
    opacity: 1;
    height: 577px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.category__modal--closing {
  background: url(../../assets/mini/ready-Player-One.jpg);
  animation: closing 0.3s;
  height: 0px;
  background-position: 0% 25%;
  background-size: cover; }

.modal__icons {
  display: flex;
  justify-content: space-between;
  margin: 6.5vh 5vw 0 5vw;
  z-index: 1; }
  .modal__icons--left {
    width: 5vw;
    display: flex;
    justify-content: space-between; }

.modal__icon {
  z-index: 1;
  width: 2vw; }
  .modal__icon--play {
    z-index: 1;
    width: 11vw;
    align-self: center; }

.modal__texts {
  z-index: 1;
  color: #f0f1f3;
  margin: 0 5vw 55px 5vw;
  height: auto;
  display: flex;
  flex-direction: column; }

.butt {
  z-index: 1; }

.modal__title {
  font-family: "Radikal-Bold";
  font-size: 6.5vw;
  text-transform: uppercase; }

.modal__date {
  font-family: "Nunito-SemiBold";
  font-size: 1.2vw;
  margin-top: 15px; }

.modal__synopsis {
  font-family: "Nunito";
  font-size: 1.13vw;
  width: 58vw;
  margin-top: 10px;
  line-height: 125%; }

.user__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vw 8vw; }
  .user__container .user__image {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .user__container .user__account {
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    margin: 3vw; }

.user__back {
  margin-left: 4vw;
  margin-top: 1vw;
  width: 4vw;
  font-family: "Nunito";
  font-size: 1.13vw;
  color: #f0f1f3; }

.user__picture {
  margin: 4vw 4vw; }
  .user__picture img {
    width: 12vw;
    border: 4px solid #feca28;
    border-radius: 90px; }

.button__user {
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  background-color: #1b1c1f;
  border: 2px solid #f0f1f3;
  color: #f0f1f3;
  height: auto;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  align-items: center;
  padding: 1vw; }

.user__info .user__title {
  font-family: "Radikal-Bold";
  font-size: 1.56vw;
  color: #f0f1f3;
  text-decoration: underline;
  width: 15vw;
  margin-bottom: 4vw; }

.inputForm {
  margin-bottom: 4vw;
  border: 2px solid red; }
  .inputForm label {
    font-family: "Nunito-Bold";
    font-size: 1.2vw;
    color: #f0f1f3; }

.input__info input {
  margin-left: 5vw;
  background-color: #1b1c1f;
  border-bottom: solid 1px #f0f1f3;
  width: 18vw; }

.button__account {
  background-color: #feca28;
  border: 2px solid #1b1c1f;
  color: #1b1c1f;
  margin-right: 0px;
  justify-content: flex-end; }

.user__delete {
  position: absolute;
  right: 0px;
  color: red;
  align-self: left;
  font-family: "Nunito";
  font-size: 1.13vw;
  text-decoration: underline; }

.show_up {
  width: 15vw;
  display: none;
  position: absolute;
  top: 5vh;
  left: 4vw;
  line-height: 4vh;
  background-color: #1b1c1f; }
  .show_up a {
    text-align: center;
    display: block;
    padding: 5px;
    font-size: 0.99vw;
    font-family: "Nunito";
    color: #c8d3d7; }
    .show_up a:hover {
      background-color: #feca28;
      color: #1b1c1f; }

.movie--avengers {
  background: url(../../assets/mini/Avengers.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--kingsman {
  background: url(../../assets/mini/kingsman.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--readyPlayerOne {
  background: url(../../assets/mini/ready-player-one.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--matrix {
  background: url(../../assets/mini/matrix.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--1917 {
  background: url(../../assets/mini/1917.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--kickAss {
  background: url(../../assets/mini/kick-ass.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--bigLebowski {
  background: url(../../assets/mini/big-Lebowski.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--intouchables {
  background: url(../../assets/mini/intouchables.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--zoolander {
  background: url(../../assets/mini/zoolander.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--littleMiss {
  background: url(../../assets/mini/little-miss-sunshine.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--bridesmaids {
  background: url(../../assets/mini/bridesmaids.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--zombieland {
  background: url(../../assets/mini/zombieland.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--plateform {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--shinning {
  background: url(../../assets/mini/the-shining.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--jaws {
  background: url(../../assets/mini/jaws.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--midsommar {
  background: url(../../assets/mini/midsommar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--invisible {
  background: url(../../assets/mini/the-invisible-man.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--paranormal {
  background: url(../../assets/mini/paranormal-activity.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--pedal {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--fahrenheit {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--plasticOcean {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--heartsOfDarkness {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--youNegro {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--creativeBrain {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

a {
  text-decoration: none; }
