/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.cta__noradius--yb {
  cursor: pointer;
  border: none;
  display: flex;
  padding: 0.8vw 2vw;
  height: fit-content;
  width: fit-content;
  background-color: #feca28;
  color: #1b1c1f;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  text-transform: uppercase;
  transition: all 0.3s; }
  .cta__noradius--yb:hover {
    border-radius: 4px;
    filter: drop-shadow(0px 0px 5px #feca28); }

@font-face {
  font-family: "Radikal-Bold";
  src: url("../scss/fonts/Radikal-Bold.ttf") format("trueType"); }

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../scss/fonts/Nunito-SemiBold.ttf") format("trueType"); }

@font-face {
  font-family: "Nunito-Bold";
  src: url("../scss/fonts/Nunito-Bold.ttf") format("trueType"); }

@font-face {
  font-family: "Nunito";
  src: url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); }

@font-face {
  font-family: "Nunito ExtraLight";
  src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"); }

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); }

.error {
  background-color: lightcoral;
  height: 2vw;
  width: 22vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.13vw;
  border-radius: 5px;
  margin: auto;
  font-family: "Nunito"; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4vw;
  background-color: #1b1c1f;
  height: 5vw; }
  header .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center; }
    header .container-image img {
      height: 2.5vw; }
  header .buttons__header {
    display: flex; }
  header .cta__margin {
    margin-right: 1vw; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0b0a0a;
  padding: 4%; }

.footer__text {
  display: flex;
  flex-direction: column;
  color: #a9bac1;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  line-height: 250%;
  font-size: 1.2vw; }
  .footer__text p:hover {
    color: #feca28;
    cursor: pointer; }
  .footer__text div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .footer__text div img {
      width: auto;
      height: 80%;
      cursor: pointer; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.headerHome {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1c1f;
  height: 5vw;
  font-family: "Nunito";
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .headerHome .headerHome__logo {
    margin-left: 4vw;
    display: flex; }
    .headerHome .headerHome__logo img {
      height: 30px; }

.nav {
  display: flex; }
  .nav .nav__item {
    cursor: pointer;
    margin: 0 2vw;
    color: #c8d3d7;
    font-size: 0.99vw;
    position: relative; }
    .nav .nav__item .item__arrow {
      width: 0.8vw; }
  .nav ul {
    display: none;
    position: absolute;
    top: 1.8vw;
    left: -2.5vw;
    width: 10vw;
    background-color: #1b1c1f;
    font-size: 0.99vw;
    text-align: center; }
    .nav ul li {
      line-height: 3; }
    .nav ul a {
      color: #c8d3d7; }

.nav__item--hover:hover {
  filter: drop-shadow(0px 0px 5px #c8d3d7); }

.nav .nav__item .appear {
  display: block; }
  .nav .nav__item .appear li:hover {
    background-color: #feca28;
    filter: drop-shadow(0px 0px 5px #feca28); }
    .nav .nav__item .appear li:hover a {
      color: #1b1c1f; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid blue; }
  .search__loupe {
    position: absolute;
    background-color: greenyellow;
    left: -3.5vw;
    width: 1.3vw;
    height: 2vw;
    padding: 0 1vw;
    border: 2px solid red; }

.search__input {
  text-align: left;
  font-family: "Nunito", sans-serif;
  width: 15vw;
  border-radius: 5px;
  padding: 0.2vw;
  font-size: 0.99vw; }

.headerHome__name {
  color: #c8d3d7;
  font-size: 0.99vw; }

.headerHome__profil img {
  width: 2.2vw;
  color: #c8d3d7; }

.headerHome__disconnect {
  width: 2.5vw; }
  .headerHome__disconnect img {
    transition: all 0.2s; }
    .headerHome__disconnect img:hover {
      filter: drop-shadow(0px 0px 3px #feca28);
      cursor: pointer; }

.headerHome__bell img {
  width: 1.4vw; }

.icon_user {
  border-radius: 50%; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.cta__noradius--yb {
  cursor: pointer;
  border: none;
  display: flex;
  padding: 0.8vw 2vw;
  height: fit-content;
  width: fit-content;
  background-color: #feca28;
  color: #1b1c1f;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  text-transform: uppercase;
  transition: all 0.3s; }
  .cta__noradius--yb:hover {
    border-radius: 4px;
    filter: drop-shadow(0px 0px 5px #feca28); }

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 87%;
  line-height: 33px; }

.register {
  display: flex;
  height: 42vw;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px #feca28;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 30vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3;
  padding-top: 3vw;
  padding-bottom: 3vw; }
  .register__title {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 1vw; }
  .register__input {
    width: 100%;
    height: 35px; }
  .register__input-container {
    font-family: "Nunito";
    font-size: 1.13vw;
    line-height: 22px; }
  .register .cta__register {
    margin-top: 2vw; }

.login {
  display: flex;
  height: 35vw;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px #feca28;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 30vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b1c1f;
  color: #f0f1f3;
  padding-top: 3vw;
  padding-bottom: 3vw; }
  .login__title {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 3vw; }
  .login__input {
    width: 100%;
    height: 35px; }
  .login__input-container {
    font-family: "Nunito";
    font-size: 1.13vw;
    line-height: 22px; }
  .login .cta__register {
    margin-top: 3vw; }
  .login .forgot-password {
    color: #a9bac1; }

.hero {
  color: #f0f1f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.479) 50%), linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.56) 8%), url(../../assets/img/background_hero.png.png); }
  .hero__title {
    font-family: "Radikal-Bold";
    font-size: 3vw;
    padding-bottom: 51px; }
  .hero__infos {
    font-family: "Nunito";
    font-size: 2vw;
    text-align: center;
    line-height: 3vw; }
    .hero__infos em {
      font-weight: 600;
      font-size: 3vw;
      padding-left: 5px; }

.buttonLP {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px; }

.hero__bottom {
  width: 100%;
  background-color: black; }
  .hero__bottom .downIcon {
    display: flex;
    margin-left: 50%; }

.watch {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 99%);
  padding-top: 10vw; }

.watch,
.movies,
.download {
  color: #f0f1f3;
  display: flex;
  align-items: center;
  margin-bottom: 10vw; }
  .watch .movies__text,
  .watch .download__text,
  .watch .watch__text,
  .movies .movies__text,
  .movies .download__text,
  .movies .watch__text,
  .download .movies__text,
  .download .download__text,
  .download .watch__text {
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 70px;
    width: 90%; }
  .watch__title,
  .movies__title,
  .download__title {
    font-family: "Poppins";
    font-size: 1.95vw;
    line-height: 2.925vw;
    font-weight: 800;
    margin-left: 80px;
    margin-right: 80px;
    color: #f0f1f3; }
  .watch__body,
  .movies__body,
  .download__body {
    font-size: 1.75vw;
    font-family: "Nunito";
    line-height: 2.625vw;
    justify-content: start;
    padding-top: 1.43vw;
    margin-left: 80px;
    margin-right: 80px;
    color: #a9bac1; }

.watch__mockup {
  width: 100%;
  padding-right: 80px; }

.movies__mockup {
  width: 100%;
  padding-left: 80px; }

.download__mockup {
  width: 70%;
  margin-left: 50px; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.category {
  display: flex;
  flex-direction: column; }

.category__texts {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 1vw; }

.category__title {
  color: #f9fafa;
  font-size: 1.42vw;
  font-weight: "Nunito-Bold";
  font-family: "Nunito-Bold"; }

.category__more {
  color: #feca28;
  font-size: 0.99vw;
  font-weight: "Nunito-Bold";
  font-family: "Nunito-Bold"; }

.category__movies {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh; }

.movie {
  box-shadow: 0px 0px 20px #121317; }

.movie__elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
  opacity: 0;
  transition: all 0.2s linear;
  transition-delay: 0.1s; }
  .movie__elements:hover {
    opacity: 1;
    cursor: pointer; }

.movie__element {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1vw; }

.elements__text {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  height: 6vw; }

.element__title {
  color: #f9fafa;
  font-family: "Nunito-Bold";
  font-size: 1.42vw;
  line-height: 2vw;
  margin-bottom: 1vw;
  text-shadow: 0 0 3px #c8d3d7; }

.element__category {
  color: #a9bac1;
  opacity: 0.5;
  font-family: "Nunito";
  font-size: 1.13vw; }

.elements__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 6vw; }
  .elements__icon .element-icon {
    width: auto;
    height: 30%; }
  .elements__icon .element__icon--play {
    width: auto;
    height: 40%; }
  .elements__icon img:hover {
    filter: drop-shadow(0px 0px 5px #feca28);
    cursor: pointer; }

.movie__chevron {
  text-align: center; }
  .movie__chevron img:hover {
    filter: drop-shadow(0px 0px 5px #feca28);
    cursor: pointer; }

.category__modal--open {
  background-position: 0% 25%;
  background-size: cover;
  animation: openingModal 0.5s;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #121317;
  margin-bottom: 28px; }

.category__modal--open:after {
  content: "";
  position: absolute;
  height: 450px;
  width: 100%;
  opacity: 1;
  animation: openingModal 0.5s;
  margin-bottom: 28px;
  background: linear-gradient(to top, black 5%, rgba(0, 0, 0, 0.363)); }

.category__modal--close {
  display: none; }

.category__modal--closing {
  animation: closingModal 0.3s;
  height: 0px;
  background-position: 0% 25%;
  background-size: cover; }

.modal__icons {
  display: flex;
  justify-content: space-between;
  margin: 6.5vh 5vw 0 5vw;
  z-index: 1; }
  .modal__icons--left {
    width: 5vw;
    display: flex;
    justify-content: space-between; }

.modal__icon {
  z-index: 1;
  width: 2vw;
  transition: all 0.3s; }
  .modal__icon:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #feca28);
    cursor: pointer;
    transform: scale(1.1); }
  .modal__icon--play {
    z-index: 1;
    width: 11vw;
    align-self: center;
    transition: all 0.3s; }
    .modal__icon--play:hover {
      cursor: pointer;
      filter: drop-shadow(0px 0px 10px #feca28);
      cursor: pointer; }

.modal__texts {
  z-index: 1;
  color: #f0f1f3;
  margin: 0 5vw 55px 5vw;
  height: auto;
  display: flex;
  flex-direction: column; }

.butt {
  z-index: 1; }

.modal__title {
  font-family: "Radikal-Bold";
  font-size: 4vw;
  text-transform: uppercase; }

.modal__date {
  font-family: "Nunito-SemiBold";
  font-size: 1.2vw;
  margin-top: 15px; }

.modal__synopsis {
  font-family: "Nunito";
  font-size: 1.13vw;
  width: 58vw;
  margin-top: 10px;
  line-height: 125%; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.user__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vw 8vw; }
  .user__container .user__image {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .user__container .user__account {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 3vw; }

.user__back {
  margin-left: 4vw;
  margin-top: 1vw;
  width: 4vw;
  font-family: "Nunito";
  font-size: 1.13vw;
  color: #f0f1f3; }

.user__picture {
  margin-bottom: 6vw; }
  .user__picture img {
    width: 15vw;
    border: 4px solid #feca28;
    border-radius: 110px; }

.button__user {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.button__end {
  background-color: #1b1c1f;
  border: 2px solid #f0f1f3;
  color: #f0f1f3;
  height: auto;
  font-family: "Nunito-Bold";
  font-size: 1.13vw;
  align-items: center;
  padding: 1vw; }

.user__info .user__title {
  font-family: "Radikal-Bold";
  font-size: 1.56vw;
  color: #f0f1f3;
  width: 29.35vw;
  margin-bottom: 4vw;
  border-bottom: 2px solid #f0f1f3; }

.inputForm {
  margin-bottom: 4vw; }
  .inputForm label {
    font-family: "Nunito-Bold";
    font-size: 1.2vw;
    color: #f0f1f3; }

.input__info input {
  margin-left: 5vw;
  background-color: #1b1c1f;
  border: none;
  border-bottom: 1px solid #f0f1f3;
  color: #f0f1f3;
  font-family: "Nunito";
  font-size: 1.13vw;
  width: 18vw; }

.input__info input[type="email"] {
  margin-left: 3.9vw; }

.input__info input[type="password"] {
  margin-left: 5.4vw; }

.button__user input {
  margin-left: 2%;
  padding-top: 1.9%;
  padding-bottom: 1.9%; }

.button__picture:nth-child(2) {
  margin-left: 2.5vw; }

.delete__button {
  position: absolute;
  right: 0px;
  margin-top: 1vw;
  color: #8b0404;
  align-self: left;
  font-family: "Nunito";
  font-size: 1.13vw;
  text-transform: uppercase;
  border: 1px solid #8b0404;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }
  .delete__button:hover {
    border-radius: 4px;
    filter: drop-shadow(0px 0px 5px #8b0404); }

.center__error {
  display: flex;
  justify-content: center;
  margin-bottom: 1vw; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.main__movie {
  margin-bottom: 3vw; }

.video__wrapper {
  background-image: linear-gradient(transparent, #1b1c1f);
  width: 100%;
  height: calc(100vh - 80px);
  height: 40vw;
  object-fit: cover;
  position: relative;
  z-index: 1; }

/*.main__movie::after {
  content: "";
  position: absolute;
  height: $height-modal;
  width: 100%;
  opacity: 1;
  animation: openingModal 0.5s;
  margin-bottom: 28px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.363)
  );
}*/
.category__main {
  position: relative;
  color: #f0f1f3;
  height: 40vw;
  overflow: hidden; }

.category__video {
  position: absolute;
  top: -6vw; }
  .category__video video {
    width: 100vw; }

.category__path {
  z-index: 2;
  position: absolute;
  top: 6vw;
  left: 4vw;
  font-family: "Nunito-SemiBold";
  font-size: 1.2vw;
  color: #c8d3d7;
  text-shadow: 0px 0px 13px #0b0b0b; }
  .category__path span {
    font-family: "Nunito-Bold";
    font-size: 1.42vw; }

.info {
  position: absolute;
  bottom: 0vw;
  left: 4vw;
  display: flex;
  flex-direction: column;
  width: 60vw;
  z-index: 2; }
  .info__title {
    font-family: "Radikal-Bold";
    font-size: 5vw; }
  .info__released {
    font-family: "Radikal-Bold";
    font-size: 1.42vw;
    margin-right: 2vw; }
    .info__released strong {
      color: #feca28;
      margin-right: 1vw; }
    .info__released span {
      margin-right: 1vw; }
    .info__released img {
      margin-right: 1vw; }
  .info__play {
    width: 4vw;
    transition: all 0.2s; }
    .info__play:hover {
      filter: drop-shadow(0px 0px 5px #feca28);
      cursor: pointer; }
  .info__list {
    width: 1.5vw;
    transition: all 0.2s; }
    .info__list:hover {
      filter: drop-shadow(0px 0px 5px #feca28);
      cursor: pointer; }

.item__hero {
  margin-bottom: 1vw; }
  .item__hero:nth-child(3) {
    line-height: 1.8vw;
    font-family: "Nunito";
    font-size: 1.13vw;
    margin-bottom: 6vw; }
  .item__hero:nth-child(4) {
    position: absolute;
    left: 0vw;
    bottom: 0vw; }

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; }
  to {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; } }

@keyframes closingModal {
  from {
    opacity: 1;
    height: 450px;
    margin-bottom: 28px; }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px; } }

.genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0vw 4vw;
  color: #c8d3d7; }
  .genre__movie {
    flex-direction: column;
    width: 43vw;
    margin-bottom: 5vw; }

.genre__box {
  display: flex; }

.box__picture {
  width: 30%; }
  .box__picture img {
    width: 100%; }

.box__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2vw;
  width: 50%; }

.genre__title {
  font-family: "Nunito-Bold";
  font-size: 1.56vw;
  margin-bottom: 2vw; }

.description__item {
  font-family: "Nunito";
  font-size: 1.13vw;
  line-height: 150%; }
  .description__item span {
    color: #feca28; }

.button__item {
  transition: all 0.2s; }

.button__item:hover {
  filter: drop-shadow(0px 0px 3px #feca28);
  cursor: pointer; }

.button__item:nth-child(n + 2) {
  margin-left: 1vw;
  width: 2vw;
  padding-bottom: 0.3vw; }

.show_up {
  width: 15vw;
  display: none;
  position: absolute;
  top: 2.5vw;
  line-height: 2vw;
  background-color: #1b1c1f; }
  .show_up a {
    text-align: center;
    display: block;
    padding: 5px;
    font-size: 0.99vw;
    font-family: "Nunito";
    color: #c8d3d7; }
    .show_up a:hover {
      background-color: #feca28;
      color: #1b1c1f; }

.video {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .video .video__container {
    transition: all 0.5s;
    opacity: 1; }
  .video .player__video::-webkit-media-controls {
    display: none !important; }
  .video .pause,
  .video .play,
  .video .sound,
  .video .mute,
  .video .fullscreen,
  .video .minimize {
    position: absolute;
    top: 0; }
  .video .player__video {
    position: relative;
    width: 100vw;
    height: 100%; }
  .video .bar {
    display: block;
    width: 97.5vw;
    margin: auto;
    margin-left: 1.2vw;
    height: 20px;
    bottom: 10%;
    background-color: gray;
    position: fixed; }
    .video .bar .progressBar {
      position: absolute;
      transition: width 0.3s;
      bottom: 0;
      width: 0px;
      height: 100%;
      background-color: #feca28; }
  .video .container {
    z-index: 999;
    position: absolute;
    bottom: 0vw;
    display: flex;
    flex-direction: row;
    width: 95vw;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center; }
    .video .container svg {
      width: 2vw; }
    .video .container__title {
      color: #c8d3d7;
      font-family: "Radikal-Bold";
      font-size: 1.42vw;
      display: flex;
      align-items: center;
      letter-spacing: 2px; }
    .video .container-left {
      display: flex;
      width: 15vw;
      justify-content: space-between; }
      .video .container-left .container__play {
        width: 50px;
        height: 50px;
        position: relative; }
    .video .container-right {
      display: flex;
      width: 25vw;
      justify-content: space-evenly; }

body {
  background-color: #1b1c1f; }

.back {
  width: 90vw;
  margin: 1% auto;
  font-family: "Nunito", sans-serif;
  font-size: 16px; }
  .back a {
    color: white; }

.movie--avengers {
  background: url(../../assets/mini/Avengers.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--avengers:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/Avengers.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--kingsman {
  background: url(../../assets/mini/kingsman.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--kingsman:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/kingsman.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--readyPlayerOne {
  background: url(../../assets/mini/ready-player-one.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--readyPlayerOne:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/ready-player-one.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--matrix {
  background: url(../../assets/mini/matrix.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--matrix:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/matrix.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--1917 {
  background: url(../../assets/mini/1917.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--1917:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/1917.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--kickAss {
  background: url(../../assets/mini/kick-ass.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--kickAss:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/kick-ass.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--bigLebowski {
  background: url(../../assets/mini/big-Lebowski.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--bigLebowski:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/big-Lebowski.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--intouchables {
  background: url(../../assets/mini/intouchables.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--intouchables:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/intouchables.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--zoolander {
  background: url(../../assets/mini/zoolander.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--zoolander:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zoolander.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--littleMiss {
  background: url(../../assets/mini/little-miss-sunshine.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--littleMiss:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/little-miss-sunshine.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--bridesmaids {
  background: url(../../assets/mini/bridesmaids.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--bridesmaids:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/bridesmaids.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--zombieland {
  background: url(../../assets/mini/zombieland.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--zombieland:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zombieland.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--plateform {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--plateform:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-platform.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--shinning {
  background: url(../../assets/mini/the-shining.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--shinning:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-shining.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--jaws {
  background: url(../../assets/mini/jaws.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--jaws:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/jaws.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--midsommar {
  background: url(../../assets/mini/midsommar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--midsommar:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/midsommar.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--invisible {
  background: url(../../assets/mini/the-invisible-man.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--invisible:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-invisible-man.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--paranormal {
  background: url(../../assets/mini/paranormal-activity.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--paranormal:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/paranormal-activity.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--pedal {
  background: url(../../assets/mini/pedal-the-world.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--pedal:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/pedal-the-world.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--fahrenheit {
  background: url(../../assets/mini/fahrenheit-911.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--fahrenheit:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/fahrenheit-911.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--plasticOcean {
  background: url(../../assets/mini/a-plastic-ocean.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--plasticOcean:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/a-plastic-ocean.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--heartsOfDarkness {
  background: url(../../assets/mini/hearts-of-darkness.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--heartsOfDarkness:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/hearts-of-darkness.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--youNegro {
  background: url(../../assets/mini/i-am-not-your-negro.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--youNegro:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/i-am-not-your-negro.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--creativeBrain {
  background: url(../../assets/mini/the-creative-brain.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--creativeBrain:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-creative-brain.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--interstellar {
  background: url(../../assets/mini/interstellar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--interstellar:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/interstellar.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--hungerGames {
  background: url(../../assets/mini/hunger-games.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--hungerGames:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/hunger-games.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--fifthElement {
  background: url(../../assets/mini/fifth-element.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--fifthElement:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/fifth-element.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--avatar {
  background: url(../../assets/mini/avatar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--avatar:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/avatar.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--backToTheFuture {
  background: url(../../assets/mini/back-to-the-future.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--backToTheFuture:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/back-to-the-future.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--jurassicPark {
  background: url(../../assets/mini/jurassic-park.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--jurassicPark:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/jurassic-park.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--frozen {
  background: url(../../assets/mini/frozen.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--frozen:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/frozen.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--insideOut {
  background: url(../../assets/mini/inside-out.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--insideOut:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/inside-out.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--peterPan {
  background: url(../../assets/mini/peter-pan.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--peterPan:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/peter-pan.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--walle {
  background: url(../../assets/mini/wall-e.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--walle:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/wall-e.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--incredibles {
  background: url(../../assets/mini/the-incredibles.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--incredibles:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-incredibles.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--moana {
  background: url(../../assets/mini/moana.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--moana:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/moana.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

a {
  text-decoration: none;
  color: #1b1c1f; }
