@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.cta__noradius--yb {
  @include cta($tertiary, $primary);
}
