@import "../config/variable.scss";

@mixin neon-effect($color, $size) {
  filter: drop-shadow(0px 0px $size $color);
  cursor: pointer;
}

@mixin cta($colorfont, $colorbackground) {
  cursor: pointer;
  border: none;
  display: flex;
  padding: 0.8vw 2vw;
  height: fit-content;
  width: fit-content;
  background-color: $colorbackground;
  color: $colorfont;
  font-family: $btn-font;
  font-size: $btn;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    border-radius: 4px;
    filter: drop-shadow(0px 0px 5px $primary);
  }
}

@keyframes openingModal {
  from {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px;
  }
  to {
    opacity: 1;
    height: $height-modal;
    margin-bottom: 28px;
  }
}

@keyframes closingModal {
  from {
    opacity: 1;
    height: $height-modal;
    margin-bottom: 28px;
  }
  to {
    opacity: 0;
    height: 0px;
    margin-bottom: 0px;
  }
}

@keyframes opacityBack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityBack-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out-none {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
