$primary: #feca28;
$secondary-light: #f0f1f3;
$secondary-lighter: #f9fafa;
$secondary-dark: #c8d3d7;
$secondary-darker: #a9bac1;
$tertiary: #1b1c1f;

$h1: 1.56vw;
$h2: 1.42vw;
$h3: 1.2vw;
$body: 1.13vw;
$fiche: 1.13vw;
$menu-navBar: 0.99vw;
$btn: 1.13vw;

$h1-font: "Radikal-Bold";
$h2-font: "Nunito-Bold";
$h3-font: "Nunito-SemiBold";
$body-font: "Nunito";
$fiche-font: "Nunito-Bold";
$menu-navBar-font: "Nunito";
$btn-font: "Nunito-Bold";
$h3-landing: "Nunito ExtraLight";
$height-modal: 450px;