@import "../config/variable.scss";

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0b0a0a;
  padding: 4%;
}

.footer__text {
  display: flex;
  flex-direction: column;
  color: $secondary-darker;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  line-height: 250%;
  font-size: $h3;

  p:hover {
    color: $primary;
    cursor: pointer;
  }

  & div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & img {
      width: auto;
      height: 80%;
      cursor: pointer;
    }
  }
}
