@import "../config/variable.scss";
@import "../config/global.scss";

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 87%;
  line-height: 33px;

  input:focus {
    outline: none;
    border: 1px solid $primary;
    box-shadow: 0 0 10px $primary;
  }
}

.register {
  display: flex;
  height: 42vw;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px $primary;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 30vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $tertiary;
  color: $secondary-light;
  padding-top: 3vw;
  padding-bottom: 3vw;

  &__title {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 1vw;
  }
  &__input {
    width: 100%;
    height: 35px;
  }
  &__input-container {
    font-family: $body-font;
    font-size: $body;
    line-height: 22px;
  }

  .cta__register {
    margin-top: 2vw;
  }
}

.login {
  display: flex;
  height: 35vw;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px $primary;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 30vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $tertiary;
  color: $secondary-light;
  padding-top: 3vw;
  padding-bottom: 3vw;

  &__title {
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 3vw;
  }
  &__input {
    width: 100%;
    height: 35px;
  }
  &__input-container {
    font-family: $body-font;
    font-size: $body;
    line-height: 22px;
  }

  .cta__register {
    margin-top: 3vw;
  }

  .forgot-password {
    color: $secondary-dark;
  }
}
