@import "../config/variable.scss";
@import "../config/global.scss";

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 87%;
  line-height: 33px;
}

.register {
  display: flex;
  height: 517px;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px $primary;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 410px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $tertiary;
  color: $secondary-light;
  padding-top: 38px;
  padding-bottom: 38px;

  &__title {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 34px;
  }
  &__input {
    width: 100%;
    height: 35px;
  }
  &__input-container {
    font-family: $body-font;
    font-size: $body;
    line-height: 22px;
  }

  .cta__register {
    margin-top: 40px;
  }
}

.login {
  display: flex;
  height: 389px;
  margin: auto;
  margin-bottom: 4%;
  border: solid 2px $primary;
  box-shadow: 2px 2px 96px -13px rgba(255, 255, 255, 0.46);
  border-radius: 8px;
  width: 410px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $tertiary;
  color: $secondary-light;
  padding-top: 38px;
  padding-bottom: 38px;

  &__title {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 34px;
  }
  &__input {
    width: 100%;
    height: 35px;
  }
  &__input-container {
    font-family: $body-font;
    font-size: $body;
    line-height: 22px;
  }

  .cta__register {
    margin-top: 40px;
  }

  .forgot-password {
    color: $secondary-darker;
  }
}
