@import "../config/variable.scss";

.genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0vw 4vw;
  color: $secondary-dark;

  &__movie {
    flex-direction: column;
    width: 43vw;
    margin-bottom: 5vw;
  }
}

.genre__box {
  display: flex;
}

.box__picture {
  img {
    width: 45vw;
  }
}

.box__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2vw;
}

.genre__title {
  font-family: $h2-font;
  font-size: $h1;
  margin-bottom: 2vw;
}

.description__item {
  font-family: $h3-font;
  font-size: $h3;
  line-height: 1.6vw;

  span {
    color: $primary;
  }
}

.button__item:nth-child(n+2) {

  margin-left: 1vw;
  width: 2vw;
  padding-bottom: 0.3vw;
}
