@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";

.genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0vw 4vw;
  color: $secondary-dark;

  &__movie {
    flex-direction: column;
    width: 43vw;
    margin-bottom: 5vw;
  }
}

.genre__box {
  display: flex;
}

.box__picture {
  width: 30%;
  img {
    width: 100%;
  }
}

.box__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2vw;
  width: 50%;
}

.genre__title {
  font-family: $h2-font;
  font-size: $h1;
  margin-bottom: 2vw;
}

.description__item {
  font-family: $body-font;
  font-size: $body;
  line-height: 150%;

  span {
    color: $primary;
  }
}

.button__item {
  transition: all 0.2s;
}

.button__item:hover {
  @include neon-effect($primary, 3px);
}

.button__item:nth-child(n + 2) {
  margin-left: 1vw;
  width: 2vw;
  padding-bottom: 0.3vw;
}

.list {
  margin-top: 10vw;
}
