@import "../config/variable.scss";

.headerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $tertiary;
  height: 6vw;
  font-family: "Nunito", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .headerHome__logo {
    margin-left: 4vw;
    display: flex;
  }
}

.nav {
  display: flex;

  .nav__item {
    margin: 0 2vw;
    color: $secondary-dark;
    font-size: $menu-navBar;
    .item__arrow {
      width: 0.8vw;
    }
    position: relative;
  }
  ul {
    display: none;
    position: absolute;
    top: 2vw;
    left: -2.5vw;
    width: 10vw;
    background-color: $tertiary;
    font-size: 0.99vw;
    text-align: center;
    li {
      line-height: 3;
    }
    a {
      color: $secondary-dark;
    }
  }
}
.nav {
  .nav__item {
    .appear {
      display: block;
      li {
        &:hover {
          background-color: $primary;
          a {
            color: $tertiary;
          }
        }
      }
    }
  }
}

.search {
  display: flex;
  position: relative;
  &__bell {
    padding: 0 1vw;
    fill: white;
  }
}

.search__input {
  text-align: left;
  font-family: "Nunito", sans-serif;
  width: 15vw;
  border-radius: 5px;
  padding: 0.3vw;
  font-size: $menu-navBar;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.headerHome__name {
  color: $secondary-dark;
  font-size: $menu-navBar;
}

.headerHome__profil {
  img {
    width: 3vw;
    color: $secondary-dark;
  }
}

.headerHome__disconnect {
  margin-right: 4vw;
}
