@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";

.headerHome {
  position: fixed;
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $tertiary;
  height: 5vw;
  font-family: $body-font;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .headerHome__logo {
    margin-left: 4vw;
    display: flex;
    img {
      height: 30px;
    }
  }
}

.nav {
  display: flex;

  .nav__item {
    margin: 0 2vw;
    color: $secondary-dark;
    font-size: $menu-navBar;
    .item__arrow {
      width: 0.8vw;
    }
    position: relative;
  }
  ul {
    display: none;
    position: absolute;
    top: 2vw;
    left: -2.5vw;
    width: 10vw;
    background-color: $tertiary;
    font-size: 0.99vw;
    text-align: center;
    li {
      line-height: 3;
    }
    a {
      color: $secondary-dark;
    }
  }
}
.nav {
  .nav__item {
    .appear {
      display: block;
      li {
        &:hover {
          background-color: $primary;
          a {
            color: $tertiary;
          }
        }
      }
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid blue;

  &__loupe {
    position: absolute;
    background-color: greenyellow;
    left: -3.5vw;
    width: 1.3vw;
    height: 2vw;
    padding: 0 1vw;
    border: 2px solid red;
  }
}

.search__input {
  text-align: left;
  font-family: "Nunito", sans-serif;
  width: 15vw;
  border-radius: 5px;
  padding: 0.2vw;
  font-size: $menu-navBar;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.headerHome__name {
  color: $secondary-dark;
  font-size: $menu-navBar;
}

.headerHome__profil {
  img {
    width: 2.2vw;
    color: $secondary-dark;
  }
}

.headerHome__disconnect {
  width: 2.5vw;

  img {
    transition: all 0.2s;
    &:hover {
      @include neon-effect($primary, 3px);
    }
  }
}

.headerHome__bell {
  img {
    width: 1.4vw;
  }
}
