@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4vw;
  background-color: $tertiary;
  height: 5vw;

  .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center;
    img {
      width: 18vw;
      transition: all 0.3s;

      &:hover {
        @include neon-effect($primary, 2px);
      }
    }
  }

  .buttons__header {
    display: flex;
  }

  .cta__margin {
    margin-right: 1vw;
  }
}
