@import "../config/variable.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  background: $tertiary;
  height: 84px;

  .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center;
  }

  .buttons__header {
    display: flex;
  }

  .cta__margin {
    margin-right: 13px;
  }
}
