@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";

.headerHome {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $tertiary;
  height: 5vw;
  font-family: $body-font;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__logo {
    margin-left: 4vw;
    display: flex;
    img {
      height: 2.5vw;
      transition: all 0.3s;

      &:hover {
        @include neon-effect($primary, 2px);
      }
    }
  }
}

.nav {
  display: flex;

  &__item {
    cursor: pointer;
    margin: 0 2vw;
    color: $secondary-dark;
    font-size: $menu-navBar;

    span:hover {
      filter: drop-shadow(0px 0px 5px $secondary-light);
    }

    .item__arrow {
      width: 0.8vw;
    }
    position: relative;
  }

  ul {
    display: none;
    position: absolute;
    top: 1.8vw;
    left: -2.5vw;
    width: 10vw;
    background-color: $tertiary;
    font-size: 0.99vw;
    text-align: center;
    li {
      line-height: 3;
    }
    a {
      color: $secondary-dark;
    }
  }
}

#genre__ul {
  filter: none;
}

.nav {
  &__item {
    .appear {
      display: block;
      li {
        filter: none;
        &:hover {
          background-color: $primary;
          filter: drop-shadow(0px 0px 5px $primary);
          color: $tertiary;
          a {
            color: $tertiary;
          }
        }
      }
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__loupe {
    margin-right: 1vw;
    color: $primary;
  }

  &__input {
    background-color: $tertiary;
    border: 1px solid $primary;
    text-align: left;
    font-family: "Nunito", sans-serif;
    width: 15vw;
    border-radius: 5px;
    padding: 0.2vw;
    font-size: $menu-navBar;
    color: white;

    &:focus {
      outline: none;
      border: 1px solid $primary;
      box-shadow: 0 0 10px $primary;
    }
  }
}

.headerHome__name {
  color: $secondary-dark;
  font-size: $menu-navBar;
}

.headerHome__profil {
  img {
    width: 2.2vw;
    color: $secondary-dark;
  }
}

.headerHome__disconnect {
  width: 2.5vw;

  img {
    transition: all 0.2s;
    &:hover {
      @include neon-effect($primary, 3px);
    }
  }
}

.headerHome__bell {
  img {
    width: 1.4vw;
  }
}

.icon_user {
  border-radius: 50%;
}
