@import "../config/variable.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0a0a;
  height: 6vw;
  font-family: "Nunito", sans-serif;

  .headerHome__logo {
    margin-left: 4vw;
    display: flex;
  }
}

.nav {
  display: flex;

  .nav__item {
    margin: 0 2vw;
    color: $secondary-dark;
    font-size: $menu-navBar;

    .item__arrow {
      width: 0.8vw;
    }

  }
}

.search {
  display: flex;

  &__bell {
    padding: 0 1vw;
    fill: white;
  }
}

.search__form {
  max-width: 500px;
}

.search__input {
  text-align: left;
  font-family: "Nunito", sans-serif;
  width: 15vw;
  border-radius: 5px;
  padding: 0.3vw;
  font-size: $menu-navBar;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), inset 0 0 2px rgba(0, 0, 0, 0.19);
}


.headerHome__name {
  color: $secondary-dark;
  font-size: $menu-navBar;
}

.headerHome__profil {

  img{
  width: 3vw;
  color: $secondary-dark;
  }
}

.headerHome__disconnect{
  margin-right: 4vw;

}