@import "../config/variable.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4vw;
  background-color: $tertiary;
  height: 5vw;

  .container-image {
    margin-left: 4vw;
    display: flex;
    align-items: center;
    img {
      height: 2.5vw;
    }
  }

  .buttons__header {
    display: flex;
  }

  .cta__margin {
    margin-right: 1vw;
  }
}
