@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";
@import "../config/global.scss";

.category {
  display: flex;
  flex-direction: column;
}

.category__texts {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 1vw;
}

.category__title {
  color: $secondary-lighter;
  font-size: $h2;
  font-weight: $h2-font;
  font-family: "Nunito-Bold";
}

.category__more {
  color: $primary;
  font-size: $menu-navBar;
  font-weight: $btn-font;
  font-family: "Nunito-Bold";
}

.category__movies {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.movie {
  box-shadow: 0px 0px 20px #121317;
  box-sizing: content-box;
  height: $height-card-movie;
  width: $width-card-movie;
  transition: all $animation-card-movie linear;

  &:hover {
    transform: scale($scale-hover);
  }
}

.movie__elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 98%;
  opacity: 0;
  transition: all 0.2s linear;
  transition-delay: 0.1s;
  z-index: 1;
  position: relative;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.movie__element {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
}

.elements__text {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-bottom: 1vw;
  align-items: space-between;
  width: 78%;
}

.element__title {
  color: $secondary-lighter;
  font-family: $h2-font;
  font-size: $h2;
  line-height: 2vw;
  margin-bottom: 1vw;
  text-shadow: 0 0 5px $secondary-dark;
}

.element__category {
  color: $secondary-darker;
  opacity: 0.5;
  font-family: $body-font;
  font-size: 0.9vw;
}

.elements__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 7vw;
  width: 18%;

  & .element-icon {
    width: auto;
    height: 25%;
  }

  & .element__icon--play {
    width: auto;
    height: 40%;
  }

  img {
    transition: all 0.2s linear;

    &:hover {
      transform: scale(1.07);
      @include neon-effect($primary, 5px);
    }
  }
}

.movie__chevron {
  text-align: center;
  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
    @include neon-effect($primary, 3px);
    transform: scale(1.1);
  }
}

//Partie JS windows modal

.category__modal--open {
  background-position: 0% 25%;
  background-size: cover;
  animation: openingModal 0.5s;
  height: $height-modal;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #121317;
  margin-bottom: 28px;
}

.category__modal--open:after {
  content: "";
  position: absolute;
  height: $height-modal;
  width: 100%;
  opacity: 1;
  animation: openingModal 0.5s;
  margin-bottom: 28px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.363)
  );
  z-index: 0;
}

.elements__hover--in {
  animation: opacityBack 0.2s;
  position: relative;
  transform: translateY(-($height-card-movie) + 0.5vw);
  content: "";
  width: 100%;
  background: linear-gradient(
    0.23deg,
    rgb(2, 2, 3) 20.62%,
    rgba(2, 2, 3, 0) 99.89%
  );
  height: $height-card-movie;
}

.elements__hover--out {
  animation: opacityBack-fadeOut 0.2s;
  position: relative;
  transform: translateY(-($height-card-movie) + 0.5vw);
  content: "";
  width: 100%;
  background: linear-gradient(
    0.23deg,
    rgb(2, 2, 3) 20.62%,
    rgba(2, 2, 3, 0) 99.89%
  );
  height: $height-card-movie;
}

.category__modal--close {
  display: none;
}

.category__modal--closing {
  animation: closingModal 0.3s;
  height: 0px;
  background-position: 0% 25%;
  background-size: cover;
}

.modal__icons {
  display: flex;
  justify-content: space-between;
  margin: 6.5vh 5vw 0 5vw;
  z-index: 1;

  &--left {
    width: 5vw;
    display: flex;
    justify-content: space-between;
  }
}

.modal__icon {
  z-index: 1;
  width: 2vw;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    @include neon-effect($primary, 3px);
    transform: scale(1.1);
  }

  &--play {
    z-index: 1;
    height: 11vw;
    align-self: center;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      @include neon-effect($primary, 10px);
    }
  }
}

.modal__texts {
  z-index: 1;
  color: $secondary-light;
  margin: 0 5vw 55px 5vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.butt {
  z-index: 1;
}

.modal__title {
  font-family: $h1-font;
  font-size: 4vw;
  text-transform: uppercase;
}

.modal__date {
  font-family: $h3-font;
  font-size: $h3;
  margin-top: 15px;
}

.modal__synopsis {
  font-family: $body-font;
  font-size: $body;
  width: 58vw;
  margin-top: 10px;
  line-height: 125%;
}
