@import "../config/variable.scss";

.category {
  display: flex;
  flex-direction: column;
}

.category__texts {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
}

.category__title {
  color: $secondary-lighter;
}

.category__movies {
  display: flex;
  justify-content: space-between;
  margin-right: 4vw;
  margin-left: 4vw;
  margin-bottom: 5vh;
}

.movie__elements {
  display: flex;
}

.elements__text {
  display: flex;
}

.elements__icons {
  display: flex;
  text-align: center;
}

.movie__chevron {
  text-align: center;
}

//Partie JS windows modal
/*.category__modal {
  margin-top: 5vh;
}*/

.category__modal--open {
  background: url(../../assets/mini/ready-Player-One.jpg);
  background-position: 0% 25%;
  background-size: cover;
  animation: opening 0.5s;
  height: 74vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category__modal--open:after {
  content: "";
  position: absolute;
  height: 74vh;
  width: 100%;
  opacity: 1;
  animation: opening 0.5s;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.363)
  );
}

.category__modal--close {
  display: none;
}

@keyframes opening {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 74vh;
  }
}

@keyframes closing {
  from {
    opacity: 1;
    height: 74vh;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}

.category__modal--closing {
  background: url(../../assets/mini/ready-Player-One.jpg);
  animation: closing 0.3s;
  height: 0px;
  background-position: 0% 25%;
  background-size: cover;
}

.modal__icons {
  display: flex;
  justify-content: space-between;
  margin: 6.5vh 5vw 0 5vw;
  z-index: 1;

  &--left {
    width: 5vw;
    display: flex;
    justify-content: space-between;
  }
}

.modal__icon {
  z-index: 1;
  width: 2vw;

  &--play {
    z-index: 1;
    width: 11vw;
    align-self: center;
  }
}

.modal__texts {
  z-index: 1;
  color: $secondary-light;
  margin: 0 5vw 55px 5vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.butt {
  z-index: 1;
}

.modal__title {
  font-family: $h1-font;
  font-size: 6.5vw;
  text-transform: uppercase;
}

.modal__date {
  font-family: $h3-font;
  font-size: $h3;
  margin-top: 15px;
}

.modal__synopsis {
  font-family: $body-font;
  font-size: $body;
  width: 58vw;
  margin-top: 10px;
  line-height: 125%;
}
