@import "../config/variable.scss";
.landingpage {
  margin-left: 80px;
  margin-right: 80px;
  font-family: $body-font;
}

// # HERO #
.hero {
  color: $secondary-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 84vh;
  width: 100%;

  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 21, 21, 0) 20%, rgb(0, 0, 0)),
    url(../../assets/img/background_hero.png);

  &__title {
    font-family: $h2-font;
    font-size: 2vw;
    padding-bottom: 25px;
  }

  &__infos {
    font-family: $body-font;
    font-weight: 500;
    font-size: 1.6vw;

    em {
      font-weight: 600;
      font-size: 2vw;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }
}
// CTA
.hero__CTA {
  margin-top: 4em;
  display: flex;
  align-items: center;
  color: $tertiary;
  justify-content: center;
  background-color: $primary;
  width: 15em;
  height: 38px;
  font-family: $h2-font;
  font-size: 16px;
}
//
.hero__bottom {
  height: 13vh;
  background: linear-gradient(to top, rgba(255, 21, 21, 0) 10%, rgb(0, 0, 0));

  .downIcon {
    display: flex;
    margin-left: 50%;
  }
} // # HERO END #

// ## SECOND AND THIRD SECTION ##

.watch,
.movies,
.download {
  color: $secondary-light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8vw;

  .movies__text,
  .download__text,
  .watch__text {
    padding-bottom: 70px;
    width: 100%;
  }
  &__title {
    font-size: 1.8vw;
    // width: 566px;
  }

  &__body {
    font-size: 1.2vw;
    line-height: 1.2vw * 1.2;
    justify-content: start;
    max-width: 581px;
    padding-top: 1.43vw;
    width: 566px;
  }
  .download__mockup {
    position: relative;
  }

  .download__gif {
    position: absolute;
    right: 1.58vw;
    top: 13.9vw;
    height: 7vh;
  }
}
.watch__mockup {
  width: 100%;
}

.movies__mockup {
  width: 100%;
}

.download__mockup {
  position: relative;
  width: 60%;
}
.download__gif {
  position: absolute;
  right: 1.58vw;
  top: 13.9vw;
  height: 7vh;
  // width: 100%;
}

// ## SECOND AND THIRD END ##
