@import "../config/variable.scss";
$h1: 3vw;
$h2: 2.5vw;
$h3: 1.8vw;
$h4: 1.9vw;
$h5: 1.7vw;

.landingpage {
  margin-left: 80px;
  margin-right: 80px;
}

// # HERO #
.hero {
  color: $secondary-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 84vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.479) 50%),
    linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.56) 8%),
    url(../../assets/img/background_hero.png.png);

  &__title {
    font-family: $h1-font;
    font-weight: lighter;
    font-size: $h1;
    padding-bottom: 25px;
  }

  &__infos {
    font-family: $h3-landing;
    font-size: $h3;

    .price {
      // background-color: red;
    }
    em {
      align-self: flex-end;
      // font-weight: 800;
      font-size: $h2;
      font-family: $h2-font;

      padding-left: 5px;
      // padding-right: 5px;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }
}

.buttonLP {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4vw;

  &__connexion {
    background-color: $primary;
    width: 16vw;
    height: 3.5vw;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
}
//
.hero__bottom {
  height: 30vh;
  background: linear-gradient(-180deg, #000000 0%, rgba(13, 12, 12, 0) 100%);

  .downIcon {
    display: flex;
    margin-left: 50%;
  }
} // # HERO END #

// ## SECOND AND THIRD SECTION ##

.watch,
.movies,
.download {
  color: $secondary-light;
  display: flex;
  align-items: center;
  margin-bottom: 10vw;

  .movies__text,
  .download__text,
  .watch__text {
    padding-bottom: 70px;
    width: 100%;
  }

  &__title {
    font-family: "Poppins";
    font-size: $h2;
  }

  &__body {
    font-size: $h4;
    font-family: $body-font;
    line-height: $h4 * 1.2;
    // justify-content: start;
    //max-width: 581px;
    padding-top: 1.43vw;
    // max-width: 566px;
  }
}

.watch__mockup {
  width: 100%;
}

.movies__mockup {
  width: 100%;
}

.download__mockup {
  // position: relative;
  width: 60%;
}
.download__gif {
  position: absolute;
  right: 1.58vw;
  top: 13.9vw;
  height: 7vh;
}
// ## SECOND AND THIRD END ##
