@import "../config/variable.scss";
.landingpage {
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Nunito";
}

// # HERO #
.hero {
  color: $secondary-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 21, 21, 0) 20%, rgb(0, 0, 0)),
    url(../../assets/img/background_hero.png);

  &__title {
    font-family: "Radikal-Bold";
    font-size: 2vw;
    padding-bottom: 25px;
  }

  &__infos {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 1.6vw;

    em {
      font-weight: 600;
      font-size: 2vw;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }
}
// CTA
.hero__CTA {
  margin-top: 4em;
  display: flex;
  align-items: center;
  color: $tertiary;
  justify-content: center;
  background-color: $primary;
  width: 15em;
  height: 38px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 900;
}
//
.hero__bottom {
  height: 13vh;
  background: linear-gradient(to top, rgba(255, 21, 21, 0) 10%, rgb(0, 0, 0));

  .downIcon {
    display: flex;
    margin-left: 50%;
  }
} // # HERO END #

// ## SECOND AND THIRD SECTION ##
.watch,
.movies {
  // height: 75vh;
  color: $secondary-light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8vw;

  .movies__text {
    background-color: red;
    padding-bottom: 100px;
    // top: 100px;
  }
  &__title {
    font-size: 1.8vw;
    width: 566px;
  }

  &__body {
    font-size: 1.2vw;
    line-height: 1.2vw * 1.2;
    justify-content: start;
    max-width: 581px;
    padding-top: 1.43vw;
    width: 566px;
  }
}
.watch__mockup {
  height: 58vh;
}

.movies__mockup {
  height: 42vh;
}
// ## SECOND SECTION END ##
