@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";
$h1: 3vw;
$h2: 2vw;
$h3: 1.95vw;
$h4: 1.75vw;

// # HERO #
.hero {
  color: $secondary-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(27, 28, 31, 1) 0%,
      rgba(27, 28, 31, 0.479) 50%
    ),
    linear-gradient(to top, rgba(27, 28, 31, 1) 0%, rgba(27, 28, 31, 0.56) 13%),
    url(../../assets/img/background_hero.png.png);

  &__title {
    font-family: $h1-font;
    font-size: $h1;
    padding-bottom: 51px;
  }

  &__infos {
    font-family: $body-font;
    font-size: $h2;
    text-align: center;
    line-height: $h2 * 1.5;

    em {
      font-weight: 600;
      font-size: 3vw;
      padding-left: 5px;
    }
  }
}

.buttonLP {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.buttonDown {
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
}

.hero__bottom {
  width: 100%;
  background-color: $tertiary;

  .downIcon {
    display: flex;
    margin-left: 50%;
    animation: arrow 1s alternate infinite;
  }
}
// # HERO END #

// ## SECTIONS ##

.watch {
  background: linear-gradient(to top, $tertiary 0%, $tertiary 99%);
  padding-top: 10vw;
}
.watch,
.movies,
.download {
  color: $secondary-light;
  display: flex;
  align-items: center;
  margin-bottom: 10vw;

  .movies__text,
  .download__text,
  .watch__text {
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 70px;
    width: 90%;
  }

  &__title {
    font-family: "Poppins";
    font-size: $h3;
    line-height: $h3 * 1.5;
    font-weight: 800;
    margin-left: 80px;
    margin-right: 80px;
    color: $secondary-light;
  }

  &__body {
    font-size: $h4;
    font-family: $body-font;
    line-height: $h4 * 1.5;
    justify-content: start;
    padding-top: 1.43vw;
    margin-left: 80px;
    margin-right: 80px;
    color: $secondary-darker;
  }
}

.watch__mockup {
  width: 100%;
  padding-right: 80px;
}

.movies__mockup {
  width: 100%;
  padding-left: 80px;
}

.download__mockup {
  width: 70%;
  margin-left: 50px;
}

// ## SECONDS##
