@import "../config/variable.scss";
@import "../config/mixinKeyframes.scss";

.main__movie {
  margin-bottom: 3vw;
}

.video__wrapper {
  background-image: linear-gradient(transparent, $tertiary);
  width: 100%;
  height: calc(100vh - 80px);
  height: 40vw;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.category__main {
  position: relative;
  color: $secondary-light;
  height: 40vw;
  overflow: hidden;
}

.category__video {
  position: absolute;
  top: -6vw;

  video {
    width: 100vw;
  }
}

.category__path {
  z-index: 2;
  position: absolute;
  top: 6vw;
  left: 4vw;
  font-family: $h3-font;
  font-size: $h3;
  color: $secondary-dark;
  text-shadow: 0px 0px 13px #0b0b0b;

  span {
    font-family: $h1-font;
    font-size: $h1;
  }
}

.info {
  position: absolute;
  bottom: 0vw;
  left: 4vw;
  display: flex;
  flex-direction: column;
  width: 60vw;
  z-index: 2;

  &__title {
    font-family: $h1-font;
    font-size: 5vw;
  }

  &__released {
    font-family: $h1-font;
    font-size: $h2;
    margin-right: 2vw;

    strong {
      color: $primary;
      margin-right: 1vw;
    }

    span {
      margin-right: 1vw;
    }

    img {
      margin-right: 1vw;
    }
  }

  &__play {
    width: 4vw;
    transition: all 0.2s;

    &:hover {
      @include neon-effect($primary, 5px);
    }
  }

  &__list {
    width: 1.5vw;
    transition: all 0.2s;

    &:hover {
      @include neon-effect($primary, 5px);
    }
  }
}

.item__hero {
  margin-bottom: 1vw;

  &:nth-child(3) {
    line-height: 1.8vw;
    font-family: $body-font;
    font-size: $body;
    margin-bottom: 2vw;
  }

  &:nth-child(4) {
    position: absolute;
    left: 0vw;
    bottom: 0vw;
  }
}
