@import "../config/variable.scss";

$width-player: 90vw;
$width-bar: 80vw;


.video {
  width : 100vw;
  height: 100vh;
  overflow: hidden;

  .video__container {
    transition: all 0.5s;
    opacity: 1;
  }
  
}


.player__video {
  position: relative;
  width : 100vw;
  height: 100%;
}

.bar {
  display: block;
  width: $width-bar;
  height: 0.5vw;
  background-color: gray;
  border-radius: 5px;

  .progressBar {
    transition: width 0.3s;
    border-radius: 5px;
    width: 0px;
    height: 100%;
    background-color: $primary;
    filter: drop-shadow(0px 0px 7px $primary);
  }
}


.container {
  z-index: 5;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-image: linear-gradient(transparent, black);

  &__title {
    color: $secondary-dark;
    font-family: $h1-font;
    font-size: $h2;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
  }

  &-left {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
  }

  &-right {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
  }

}

.container__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: $width-player;
  margin: 1vw 0;

  svg {
    width: 2vw;
  }

}