@import "../config/variable.scss";

.video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: opacity 3s;

  .video_backArrow {
    opacity: 1;
    display: block;
    position: absolute;
    top: 2vw;
    left: 7vw;
    z-index: 5;
    width: 2.5vw;
    cursor: pointer;
    &:hover {
      filter: drop-shadow(0px 0px 5px $primary);
    }
  }
  .video__container {
    opacity: 1;
  }
}

.player__video {
  position: relative;
  width: 100vw;
  height: 100%;
}

.bar {
  display: block;
  width: 80vw;
  height: 0.5vw;
  background-color: gray;
  border-radius: 5px;

  .progressBar {
    transition: width 0.3s;
    border-radius: 5px;
    width: 0vw;
    height: 100%;
    background-color: $primary;
    filter: drop-shadow(0px 0px 7px $primary);
  }
}

.container {
  opacity: 1;
  z-index: 5;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-image: linear-gradient(transparent, black);

  &__title {
    color: $secondary-dark;
    font-family: $h1-font;
    font-size: $h2;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
  }

  &-left {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    margin-left: 10px;
  }

  &-right {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    margin-right: 10px;
  }
}

.container__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin: 1vw 0;
  svg {
    width: 2vw;
    cursor: pointer;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 35%;
  height: 0.5vw;
  background: $primary;
  outline: none;
  border-radius: 10px;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  margin-top: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8vw;
  height: 1vw;
  border: inset 3px $primary;
  background: $secondary-light;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 1px $primary, 0px 0px 1px $primary;
}

input[type="range"]:hover {
  filter: drop-shadow(0px 0px 5px $primary);
}
