@import "../config/variable.scss";
.show_up {
  width: 15vw;
  display: none;
  position: absolute;
  top: 2.5vw;
  line-height: 2vw;
  background-color: $tertiary;
  a {
    text-align: center;
    display: block;
    padding: 5px;
    font-size: $menu-navBar;
    font-family: $menu-navBar-font;
    color: $secondary-dark;
    &:hover {
      background-color: $primary;
      color: $tertiary;
    }
  }
}
