@import "../config/variable.scss";

.user__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vw 8vw;

  .user__image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user__account {

    position:relative;
    align-items: center;
    justify-content: center;
    margin: 3vw;
  }

}


.user__back {

  margin-left: 4vw;
  margin-top: 1vw;
  width: 4vw;
  font-family: $body-font;
  font-size: $body;
  color: $secondary-light;
}

.user__picture {
  margin-bottom: 6vw;

  img {
    width: 15vw;
    border: 4px solid $primary;
    border-radius: 110px;
  }
}

.button__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.button__end {

  background-color: $tertiary;
  border: 2px solid $secondary-light;
  color: $secondary-light;
  height: auto;
  font-family: $btn-font;
  font-size: $btn;
  align-items: center;
  padding: 1vw;


}

.user__info {
  .user__title {
    font-family: $h1-font;
    font-size: $h1;
    color: $secondary-light;
    width: 29.35vw;
    margin-bottom: 4vw;
    border-bottom: 2px solid $secondary-light;
  }
}

.inputForm {
  margin-bottom: 4vw;

  label {
    font-family: $h2-font;
    font-size : $h3;
    color: $secondary-light;
  }
}

.input__info {
    input{
    margin-left: 5vw;
    background-color: $tertiary;
    border: none;
    border-bottom: 1px solid $secondary-light;
    color: $secondary-light;
    font-family: $body-font;
    font-size: $body;
    width: 18vw;
  }
  input[type='email']{

    margin-left: 3.90vw;
  }

  input[type='password']{

  margin-left: 5.4vw;
  }
}

.button__account {

  background-color: $primary;
  border: 2px solid $tertiary;
  color: $tertiary;
  margin-right: 0px;
  justify-content: flex-end;
  margin-left: 2.5vw;

}

.user__delete {
  position: absolute;
  right: 0px;
  margin-top: 2vw;
  color: red;
  align-self: left;
  font-family: $body-font;
  font-size: $body;
  text-decoration: underline;
}

.button__picture:nth-child(2){
  margin-left: 2.5vw;
}

