.movie--avengers {
  background: url(../../assets/mini/Avengers.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--avengers:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/Avengers.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--kingsman {
  background: url(../../assets/mini/kingsman.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--kingsman:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/kingsman.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--readyPlayerOne {
  background: url(../../assets/mini/ready-player-one.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--readyPlayerOne:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/ready-player-one.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--matrix {
  background: url(../../assets/mini/matrix.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--matrix:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/matrix.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--1917 {
  background: url(../../assets/mini/1917.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--1917:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/1917.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--kickAss {
  background: url(../../assets/mini/kick-ass.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--kickAss:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/kick-ass.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
