.movie--frozen {
  background: url(../../assets/mini/frozen.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--insideOut {
  background: url(../../assets/mini/inside-out.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--peterPan {
  background: url(../../assets/mini/peter-pan.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--walle {
  background: url(../../assets/mini/wall-e.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--incredibles {
  background: url(../../assets/mini/the-incredibles.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--moana {
  background: url(../../assets/mini/moana.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
