.movie--bigLebowski {
  background: url(../../assets/mini/big-Lebowski.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--intouchables {
  background: url(../../assets/mini/intouchables.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--zoolander {
  background: url(../../assets/mini/zoolander.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--littleMiss {
  background: url(../../assets/mini/little-miss-sunshine.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--bridesmaids {
  background: url(../../assets/mini/bridesmaids.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--zombieland {
  background: url(../../assets/mini/zombieland.jpg);
  height: 19.79vw;
  width: 14.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
