.movie--pedal {
  background: url(../../assets/mini/pedal-the-world.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--fahrenheit {
  background: url(../../assets/mini/fahrenheit-911.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--plasticOcean {
  background: url(../../assets/mini/a-plastic-ocean.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--heartsOfDarkness {
  background: url(../../assets/mini/hearts-of-darkness.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--youNegro {
  background: url(../../assets/mini/i-am-not-your-negro.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--creativeBrain {
  background: url(../../assets/mini/the-creative-brain.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
