.movie--pedal {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--fahrenheit {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--plasticOcean {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--heartsOfDarkness {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--youNegro {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.movie--creativeBrain {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
