.movie--pedal {
  background: url(../../assets/mini/pedal-the-world.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--pedal:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/pedal-the-world.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--fahrenheit {
  background: url(../../assets/mini/fahrenheit-911.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--fahrenheit:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/fahrenheit-911.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--plasticOcean {
  background: url(../../assets/mini/a-plastic-ocean.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--plasticOcean:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/a-plastic-ocean.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--heartsOfDarkness {
  background: url(../../assets/mini/hearts-of-darkness.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--heartsOfDarkness:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/hearts-of-darkness.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--youNegro {
  background: url(../../assets/mini/i-am-not-your-negro.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--youNegro:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/i-am-not-your-negro.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--creativeBrain {
  background: url(../../assets/mini/the-creative-brain.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--creativeBrain:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-creative-brain.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
