.movie--plateform {
  background: url(../../assets/mini/the-platform.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--plateform:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-platform.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--shinning {
  background: url(../../assets/mini/the-shining.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--shinning:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-shining.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--jaws {
  background: url(../../assets/mini/jaws.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--jaws:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/jaws.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--midsommar {
  background: url(../../assets/mini/midsommar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--midsommar:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/midsommar.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--invisible {
  background: url(../../assets/mini/the-invisible-man.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--invisible:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/the-invisible-man.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--paranormal {
  background: url(../../assets/mini/paranormal-activity.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear; }
  .movie--paranormal:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/paranormal-activity.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
