.movie--interstellar {
  background: url(../../assets/mini/interstellar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--interstellar:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zombieland.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--hungerGames {
  background: url(../../assets/mini/hunger-games.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--hungerGames:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zombieland.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--fifthElement {
  background: url(../../assets/mini/fifth-element.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--fifthElement:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zombieland.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--avatar {
  background: url(../../assets/mini/avatar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--avatar:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zombieland.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--backToTheFuture {
  background: url(../../assets/mini/back-to-the-future.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--backToTheFuture:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zombieland.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.movie--jurassicPark {
  background: url(../../assets/mini/jurrasic-park.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .movie--jurassicPark:hover {
    background: linear-gradient(0.23deg, rgba(2, 2, 3, 0.97) 33.62%, rgba(2, 2, 3, 0) 99.89%), url(../../assets/mini/zombieland.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
