@import "../../config/variable.scss";

.movie--avengers {
  background: url(../../assets/mini/Avengers.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &::hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.89) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/Avengers.jpg);
  }
}

.movie--kingsman {
  background: linear-gradient(
      0.23deg,
      rgba(2, 2, 3, 0.89) 33.62%,
      rgba(2, 2, 3, 0) 99.89%
    ),
    url(../../assets/mini/kingsman.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--readyPlayerOne {
  background: url(../../assets/mini/ready-player-one.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--matrix {
  background: url(../../assets/mini/matrix.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--1917 {
  background: url(../../assets/mini/1917.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--kickAss {
  background: url(../../assets/mini/kick-ass.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
