@import "../../config/variable.scss";

.movie--avengers {
  background: url(../../assets/mini/Avengers.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/Avengers.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--kingsman {
  background: url(../../assets/mini/kingsman.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/kingsman.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--readyPlayerOne {
  background: url(../../assets/mini/ready-player-one.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/ready-player-one.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--matrix {
  background: url(../../assets/mini/matrix.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/matrix.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--1917 {
  background: url(../../assets/mini/1917.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/1917.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--kickAss {
  background: url(../../assets/mini/kick-ass.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/kick-ass.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
