@import "../../config/variable.scss";

.movie--frozen {
  background: url(../../assets/mini/frozen.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/frozen.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--insideOut {
  background: url(../../assets/mini/inside-out.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/inside-out.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--peterPan {
  background: url(../../assets/mini/peter-pan.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/peter-pan.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--walle {
  background: url(../../assets/mini/wall-e.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/wall-e.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.movie--incredibles {
  background: url(../../assets/mini/the-incredibles.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/the-incredibles.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--moana {
  background: url(../../assets/mini/moana.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/moana.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
