@import "../../config/variable.scss";

.movie--bigLebowski {
  background: url(../../assets/mini/big-Lebowski.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/big-Lebowski.jpg);
    height: 20.79vw;
    width: 13.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--intouchables {
  background: url(../../assets/mini/intouchables.jpg);
  height: 19.79vw;
  width: 14.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/intouchables.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--zoolander {
  background: url(../../assets/mini/zoolander.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/zoolander.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--littleMiss {
  background: url(../../assets/mini/little-miss-sunshine.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/little-miss-sunshine.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--bridesmaids {
  background: url(../../assets/mini/bridesmaids.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/bridesmaids.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--zombieland {
  background: url(../../assets/mini/zombieland.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/zombieland.jpg);
    height: 20.79vw;
    width: 14.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
