@import "../../config/variable.scss";

.movie--pedal {
  background: url(../../assets/mini/pedal-the-world.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/pedal-the-world.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--fahrenheit {
  background: url(../../assets/mini/fahrenheit-911.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/fahrenheit-911.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--plasticOcean {
  background: url(../../assets/mini/a-plastic-ocean.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/a-plastic-ocean.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--heartsOfDarkness {
  background: url(../../assets/mini/hearts-of-darkness.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/hearts-of-darkness.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--youNegro {
  background: url(../../assets/mini/i-am-not-your-negro.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/i-am-not-your-negro.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--creativeBrain {
  background: url(../../assets/mini/the-creative-brain.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/the-creative-brain.jpg);
    transform: scale(1.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
