@import "../../config/variable.scss";

.movie--plateform {
  background: url(../../assets/mini/the-platform.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/the-platform.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--shinning {
  background: url(../../assets/mini/the-shining.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/the-shining.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--jaws {
  background: url(../../assets/mini/jaws.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/jaws.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--midsommar {
  background: url(../../assets/mini/midsommar.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/midsommar.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--invisible {
  background: url(../../assets/mini/the-invisible-man.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/the-invisible-man.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--paranormal {
  background: url(../../assets/mini/paranormal-activity.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/paranormal-activity.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
