@import "../../config/variable.scss";

.movie--interstellar {
  background: url(../../assets/mini/interstellar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--hungerGames {
  background: url(../../assets/mini/hunger-games.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--fifthElement {
  background: url(../../assets/mini/fifth-element.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--avatar {
  background: url(../../assets/mini/avatar.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--backToTheFuture {
  background: url(../../assets/mini/back-to-the-future.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie--jurassicPark {
  background: url(../../assets/mini/jurrasic-park.jpg);
  height: 19.79vw;
  width: 13.2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
