@import "../../config/variable.scss";

.movie--interstellar {
  background: url(../../assets/mini/interstellar.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/interstellar.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--hungerGames {
  background: url(../../assets/mini/hunger-games.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/hunger-games.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--fifthElement {
  background: url(../../assets/mini/fifth-element.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/fifth-element.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--avatar {
  background: url(../../assets/mini/avatar.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/avatar.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--backToTheFuture {
  background: url(../../assets/mini/back-to-the-future.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/back-to-the-future.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.movie--jurassicPark {
  background: url(../../assets/mini/jurassic-park.jpg);
  height: $height-card-movie;
  width: $width-card-movie;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $animation-card-movie linear;

  &:hover {
    background: linear-gradient(
        0.23deg,
        rgba(2, 2, 3, 0.97) 33.62%,
        rgba(2, 2, 3, 0) 99.89%
      ),
      url(../../assets/mini/jurassic-park.jpg);
    transform: scale($scale-hover);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
