@import "config/reset.scss";
@import "config/font.scss";
@import "blocs/header_landpage.scss";
@import "blocs/header_landpage.scss";
@import "blocs/form.scss";
@import "pages/register.scss";
@import "config/error.scss";
@import "blocs/landing.scss";
@import "blocs/footer.scss";
@import "blocs/header_homepage.scss";
@import "blocs/home.scss";
@import "blocs/search.scss";

a {
  text-decoration: none;
}
