// a supprimer ( nouveau fichier variables dans le dossier config)


$primary: #feca28;
$secondary-light: #f0f1f3;
$secondary-lighter: #f9fafa;
$secondary-dark: #c8d3d7;
$secondary-darker: #a9bac1;
$tertiary: #262930;
